<div id="page-wrapper"> 
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Category Details</h1> 
                </div>
                <!--End Page Header -->
            </div>  
            <div class="row"> 
                <div class="col-lg-12"> 
					<a href="<?php echo $this->webroot ?>admin/events/categories/page:<?php echo $pageno; ?>" title="Add New" class="btn btn-danger add_btn">Back</a> 
                </div> 
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Notifications-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <strong>Category Details</strong>
                        </div> 
					 
                        <div class="panel-body table-responsive"> 
							<table class="table table-striped table-bordered table-hover"> 
							<tbody> 
								<tr>
									<td><strong>Name</strong></td>
									<td><?php echo $categoryinfo['Category']['category_name']; ?></td> 
								</tr>  				
							</tbody> 
							</table>	 		
                        </div> 
                    </div>
                    <!--End Notifications-->
                </div> 
		   </div> 
		   <div class="row" style="float:left;"> 
                <div class="col-lg-12"> 
					<a href="<?php echo $this->webroot ?>admin/events/categories/page:<?php echo $pageno; ?>" title="Add New" class="btn btn-danger add_btn">Back</a> 
                </div> 
            </div>
</div> 