 <?php foreach($city as $k=>$data)
 { ?>
 <select name="city" class="required form-control select2" data-placeholder="Select a Title">
	<option value="<?php echo $data['City']['city_name'] ?>" ><?php echo $data['City']['city_name'] ?></option>
	 </select>
 <?php } ?>