/* CSS Document */
/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #1c94c4;
	background-color: #eeeeee;
	border: 1px solid #d7cfd3;
	width: 185px;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #d7cfd3;
	background-color: #ffffff;
	
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #fff0a5;
	border: 1px solid #f6ae37;
	color: black;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #fff0a5;
	border: 1px solid #f6ae37;
	cursor: pointer;
	color: black;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {	
	color: white;
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	/*background-color: #0C7BC7;
	border: 1px solid #257AB4;*/
	color: black;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	background-color: #cd341d;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: #000000;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background: #cd341d;
	border: 1px solid #cd341d;
	font-weight: bold;
	padding: 0px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	background: #cd341d;
	border: 1px solid #cd341d;
	font-weight: bold;
	}