
<div class="main_container login-reg-pg">
	<section class="breadcrumb vspace20">
		<div class="container">
			<!--<ul>
				<li><a href="<?php echo $this->webroot; ?>"><span>&raquo;</span> Develop a player</a></li>
				<li><span>&raquo;</span> Player's Registration</li>
			</ul>-->
		</div>
	</section>
	<section class="vspace70">
		<div class="container">
			<div class="reg_bg">
				<form action="" method="post" enctype="multipart/form-data" id="register_form">
				<div class="row vspace20">                   	
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<span class="reg_lft_img"><img src="<?php echo $this->webroot; ?>images/lock.png" alt=""></span>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
						<div class="row">
                         <div style="color:red"> <?php 
								if ($this->Session->check('Message.flash')) {
									echo $this->Session->flash();
								}
								if ($this->Session->check('Message.auth')) {
									//echo $this->Session->flash('auth');
								}
		                        ?>
								</div>
								<br/>
								<br/>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h2> Enter otp to complete your registration .</h2>
								
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<label>Please enter the OTP received on your email id.</label>
								<input type="text" name="otp_name" class="form-control" placeholder="Enter otp" required>
								<p style="align:center"><input type="submit" name="otp_submit" value="check"/></p>
							</div>
						</div>
						
					                  
					</div>                        
				</div>
				</form>
				</div>
				</div>
			</select>
				