	<?php //pr($all_rating_coach_attack); exit;?>
	
	<div class="graph_holder">
			<div class="bar_outer one">
				<div class="bar_innr">
					<ul></ul>                                
				</div>                            
			</div>
			<div class="bar_details one">
				<img src="<?php echo $this->webroot;?>images/ico_a.png" alt=""> <span class="bar_details_val">1.4</span> <img src="<?php echo $this->webroot;?>images/ico_attack_small.png" alt="">                        </div>												                            
				
			<div class="bar_outer two">
				<div class="bar_innr">
					<ul></ul>
				</div>
			</div>
			<div class="bar_details two">
				<img src="<?php echo $this->webroot;?>images/ico_d.png" alt=""> <span class="bar_details_val">1.8</span> <img src="<?php echo $this->webroot;?>images/ico_defence_small.png" alt="">                        </div>						                            
				
			<div class="bar_outer three">
				<div class="bar_innr">
					<ul></ul>
				</div>
			</div>
			<div class="bar_details three">
				<img src="<?php echo $this->webroot;?>images/ico_c.png" alt=""> <span class="bar_details_val">2.2</span> <img src="<?php echo $this->webroot;?>images/ico_physical_cond_small.png" alt="">                  	</div>						                            
				
			<div class="bar_outer four">
				<div class="bar_innr">
					<ul></ul>
				</div>
			</div>
			<div class="bar_details four">
				<img src="<?php echo $this->webroot;?>images/ico_m.png" alt=""> <span class="bar_details_val">1.7</span> <img src="<?php echo $this->webroot;?>images/ico_mental_cond_small.png" alt=""> </div>
		<div id="script_text_val">	
				<script type="text/JavaScript">
					   $(".bar_details").css('display','block');
						<?php 
						if(!empty($all_rating_coach_attack))
						{
							$lower_limit = $all_rating_coach_attack['AddPlayerRating']['lower_limit'];
							
							$upper_limit = $all_rating_coach_attack['AddPlayerRating']['upper_limit'];
							
							if(!empty($lower_limit))
							{
								$lower_limit=$lower_limit;							
							}
							else
							{
								$lower_limit=0;
							}
							if(!empty($upper_limit))
							{
								$upper_limit=$upper_limit;							
							}
							else
							{
								$upper_limit=0;
							}
							
							$message="";
						}else
						{
							
							$lower_limit=0;
							$upper_limit=0;
							$message='No Rating Given!';
							
						}	
						?>
						
						//alert($message);
						
						var low_lim =<?php echo $lower_limit;?>;
						var up_lim =<?php echo $upper_limit;?>; 
						
						var low_limit_val_attack = (low_lim* 80) - 1;
						$('.bar_outer').css('bottom',low_limit_val_attack+'px');										
						var up_limit_val= (up_lim- low_lim) * 80;
						$('.bar_innr').css('height',up_limit_val+'px');
						var cur_pos_attack = <?php if(isset($all_rating_coach_attack['AddPlayerRating']['rating'])){ echo $all_rating_coach_attack['AddPlayerRating']['rating']; }else{ echo '0';} ?>;
						$(".one .bar_details_val").html(cur_pos_attack);		
						var val_attack = Math.round((cur_pos_attack - low_lim)*10);
						
						for(i=0; i<val_attack;i++){
							$(".bar_outer.one .bar_innr ul").append("<li>&nbsp;</li>");
						}
						
						
						var one = $('.bar_outer.one ul').height()+ low_limit_val_attack - 13;
						$('.bar_details.one').css('bottom', one+'px');
						
						//alert($('.bar_outer.one ul').height()+ low_limit_val_attack);
						//=====================================================//
						
						var low_limit_val_deffence = (low_lim* 80) - 1;
						$('.bar_outer').css('bottom',low_limit_val_deffence+'px');										
						var up_limit_val= (up_lim- low_lim) * 80;
						$('.bar_innr').css('height',up_limit_val+'px');
						var cur_pos_deffence = <?php if(isset($all_rating_coach_deffence['AddPlayerRating']['rating'])){ echo $all_rating_coach_deffence['AddPlayerRating']['rating'];}else{ echo '0';};?>;
						var val_deffence =  Math.round((cur_pos_deffence - low_lim)*10);
						 $(".two .bar_details_val").html(cur_pos_deffence);	
						for(i=0; i<val_deffence;i++){
							$(".bar_outer.two .bar_innr ul").append("<li>&nbsp;</li>");
						}
						var two = $('.bar_outer.two ul').height()+ low_limit_val_deffence - 13;
						$('.bar_details.two').css('bottom', two+'px');
					
						//=====================================================//
					
						var low_limit_val_condition = (low_lim* 80) - 1;
						$('.bar_outer').css('bottom',low_limit_val_condition +'px');										
						var up_limit_val= (up_lim- low_lim) * 80;
						$('.bar_innr').css('height',up_limit_val+'px');
						var cur_pos_condition  = <?php  if(isset($all_rating_coach_Condition['AddPlayerRating']['rating'])){ echo $all_rating_coach_Condition['AddPlayerRating']['rating'];}else{ echo '0';}?>;
						var val_condition  = Math.round((cur_pos_condition  - low_lim)*10);
						$(".three .bar_details_val").html(cur_pos_condition); 
						
						for(i=0; i<val_condition ;i++){
							$(".bar_outer.three .bar_innr ul").append("<li>&nbsp;</li>");
						}
						var three = $('.bar_outer.three ul').height()+ low_limit_val_condition - 13;
						$('.bar_details.three').css('bottom', three+'px');
						
						//=====================================================//
						
						var low_limit_val_mindset = (low_lim* 80) - 1;
						$('.bar_outer').css('bottom',low_limit_val_mindset+'px');										
						var up_limit_val= (up_lim- low_lim) * 80;
						$('.bar_innr').css('height',up_limit_val+'px');
						var cur_pos_mindset = <?php if(isset($all_rating_coach_mindset['AddPlayerRating']['rating'])){ echo $all_rating_coach_mindset['AddPlayerRating']['rating']; }else{ echo '0';}?>;
						var val_mindset =  Math.round((cur_pos_mindset - low_lim)*10);
						$(".four .bar_details_val").html(cur_pos_mindset);		
						for(i=0; i<val_mindset ;i++)
						{
							$(".bar_outer.four .bar_innr ul").append("<li>&nbsp;</li>");
						}
						var four = $('.bar_outer.four ul').height()+ low_limit_val_mindset - 13;
						$('.bar_details.four').css('bottom', four+'px');
					
				</script>
				
				
		</div> 

             
		
				<span class="graph_row_val eight">3.5</span>
				<span class="graph_row_val seven">3.0</span>
				<span class="graph_row_val six">2.5</span>
				<span class="graph_row_val five">2.0</span>
				<span class="graph_row_val four">1.5</span>
				<span class="graph_row_val three">1.0</span>
				<span class="graph_row_val two">0.5</span>
				<span class="graph_row_val one">0</span>
				
		
    </div>
	
		
                    <div class="graph_table_holder">
                    	<div class="graph_table_row">
                        	<div class="graph_table_col">&nbsp;</div>
                            <div class="graph_table_col"><img src="<?php echo $this->webroot;?>images/ico_attack_small.png"> Attack <img src="<?php echo $this->webroot;?>images/ico_a.png"></div>
                            <div class="graph_table_col"><img src="<?php echo $this->webroot;?>images/ico_defence_small.png"> Defence <img src="<?php echo $this->webroot;?>images/ico_d.png"></div>
                            <div class="graph_table_col"><img src="<?php echo $this->webroot;?>images/ico_physical_cond_small.png">Physical Conditioning <img src="<?php echo $this->webroot;?>images/ico_c.png"></div>
                            <div class="graph_table_col"><img src="<?php echo $this->webroot;?>images/ico_mental_cond_small.png"> Mental Conditioning <img src="<?php echo $this->webroot;?>images/ico_m.png"></div>
                        </div>
                        <div class="graph_table_row">
                        	<div class="graph_table_col">Upper Limit <img src="<?php echo $this->webroot;?>images/ico_upperlimit.png" alt=""></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_attack['AddPlayerRating']['upper_limit'])) echo $all_rating_coach_attack['AddPlayerRating']['upper_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_deffence['AddPlayerRating']['upper_limit'])) echo $all_rating_coach_deffence['AddPlayerRating']['upper_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_Condition['AddPlayerRating']['upper_limit'])) echo $all_rating_coach_Condition['AddPlayerRating']['upper_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_mindset['AddPlayerRating']['upper_limit'])) echo $all_rating_coach_mindset['AddPlayerRating']['upper_limit'];?></div>
                        </div>
                        <div class="graph_table_row">
                        	<div class="graph_table_col">Current Position <img src="<?php echo $this->webroot;?>images/ico_current_pos.png" alt=""></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_attack['AddPlayerRating']['rating'])) echo $all_rating_coach_attack['AddPlayerRating']['rating'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_deffence['AddPlayerRating']['rating'])) echo $all_rating_coach_deffence['AddPlayerRating']['rating'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_Condition['AddPlayerRating']['rating'])) echo $all_rating_coach_Condition['AddPlayerRating']['rating'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_mindset['AddPlayerRating']['rating'])) echo $all_rating_coach_mindset['AddPlayerRating']['rating'];?></div>
                        </div>
                        <div class="graph_table_row">
                        	<div class="graph_table_col">Lower Limit <img src="<?php echo $this->webroot;?>images/ico_lowerlimit.png" alt=""></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_attack['AddPlayerRating']['lower_limit'])) echo $all_rating_coach_attack['AddPlayerRating']['lower_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_deffence['AddPlayerRating']['lower_limit'])) echo $all_rating_coach_deffence['AddPlayerRating']['lower_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_Condition['AddPlayerRating']['lower_limit'])) echo $all_rating_coach_Condition['AddPlayerRating']['lower_limit'];?></div>
                            <div class="graph_table_col"><?php if(isset($all_rating_coach_mindset['AddPlayerRating']['lower_limit'])) echo $all_rating_coach_mindset['AddPlayerRating']['lower_limit'];?></div>
                        </div>
                    </div>
                </div>