*{margin:0;padding:0;outline:none!important}
body.modal-open{ padding:0 !important}
html{position:relative;min-height:100%; background:#fff}
body{font-family: 'proxima_nova_rgregular';font-size:13px;color:#5c5c5c;line-height:normal;background-color:#fff}
footer{position:absolute;bottom:0;width:100%;background-color:#0b76bc;color:#fff;font-size:12px;font-family: 'montserrathairline'}

.vspace0{padding:0}
.vspace10{padding:10px 0}
.vspace20{padding:20px 0}
.vspace30{padding:30px 0}
.vspace40{padding:40px 0}
.vspace50{padding:50px 0}
.vspace60{padding:60px 0}
.vspace70{padding:70px 0}
.vspace80{padding:80px 0}
.vspace90{padding:90px 0}
.vspace100{padding:100px 0}
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
a{text-decoration:none;color:#1e99ea;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
a:hover{color:#404040}
a:focus{text-decoration:none}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color: transparent}
img{ border:none}
textarea{resize:none}

nav{ height:103px}
.navbar-inverse{
background: #0b76bc; /* Old browsers */
background: -moz-linear-gradient(top,  #0b76bc 0%, #0b76bc 65%, #1e99ea 65%, #1e99ea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0b76bc 0%,#0b76bc 65%,#1e99ea 65%,#1e99ea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0b76bc 0%,#0b76bc 65%,#1e99ea 65%,#1e99ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b76bc', endColorstr='#1e99ea',GradientType=0 ); /* IE6-9 */
border: none;
}
.navbar-brand{padding:0;height:auto}
.navbar-inverse .navbar-nav>li>a{color:#fff;text-transform:uppercase;font-size:10px;font-family:'montserratlight';padding-right:0;padding-left:30px;padding-top:25px}
.navbar-inverse .navbar-nav>li>a:hover{color:#62b7f0}
.topbar_bottom{width:90%;float:right}
.topbar_bottom .navbar-nav>li>a{padding-top:0;margin-top:14px;padding-bottom:8px;font-family:'montserratregular';font-size:11px}
.topbar_bottom .pull-left .navbar-nav>li>a{padding-left:15px;padding-right:15px;padding-bottom:0; background:url(../images/border-right.jpg) no-repeat right center}
.topbar_bottom .pull-left .navbar-nav>li:last-child>a{ background:none}
.topbar_bottom .navbar-nav>li>a:hover{color:#3e3e3e}

.dropdown-menu{-webkit-box-shadow:none;box-shadow:none}
.navbar-nav>li>.dropdown-menu{background:#1e99ea;border:none}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background-color:transparent}
.dropdown-menu>li>a{font-family:'montserratlight';font-size:12px;color:#fff;padding-left:40px;padding-top:7px;padding-bottom:7px}
.dropdown-menu>li.family_member a{color:#003a61}
.dropdown-menu>li.family_member a:hover{color:#fff}
.dropdown-menu>li.reg>a{background:url(../images/ico_reg.png) no-repeat 15px center}
.dropdown-menu>li.log>a{background:url(../images/ico_login.png) no-repeat 15px center}
.dropdown-menu>li.reg.family_member>a{background:url(../images/ico_reg2.png) no-repeat 15px center}
.dropdown-menu>li.log.family_member>a{background:url(../images/ico_login2.png) no-repeat 15px center}

.hp_login_banner{ background:url(../images/shadow.png) no-repeat bottom left; background-size:contain; height:192px; top:-90px; position:relative}
.hp_login_banner_innr{ width:99%; height:192px; background:#fff; border-radius:5px 5px 0 0; padding:25px 10px 0 10px; margin:0 0.5%}

.hp_login_banner_container{width:100%;height:167px;background-color:#0b76bc;border-radius:3px}

.hp_login_banner_container.login{background-image:url(../images/bg_login.png);background-repeat:no-repeat;background-position:right bottom}
.hp_login_banner_container.course{background-image:url(../images/bg_training_course.png);background-repeat:no-repeat;background-position:right bottom}
.hp_login_banner_container.gear{background-image:url(../images/bg_training_gear.png);background-repeat:no-repeat;background-position:right bottom}

.hp_login_banner_container a .hp_login_banner_ico{width:72px;height:72px;display:inline-block;margin:36px 0 0; overflow:hidden;}
.hp_login_banner_container a .hp_login_banner_icotxt{font-family:'montserratblack';font-size:14px;color:#fff;text-transform:uppercase;letter-spacing:1px;display:inline-block;width:100%;}
.hp_login_banner_container a:hover .hp_login_banner_icotxt{color:#0c0c0c}
		
.hp_login_banner_container.login a .hp_login_banner_ico{ background:url(../images/ico_player_login.png) no-repeat 0 0}
.hp_login_banner_container.login.coach a .hp_login_banner_ico{ background:url(../images/ico_coach_login.png) no-repeat 0 0}
.hp_login_banner_container.course a .hp_login_banner_ico{ background:url(../images/ico_training_course.png) no-repeat 0 0}
.hp_login_banner_container.gear a .hp_login_banner_ico{ background:url(../images/ico_training_gear.png) no-repeat 0 0}

.hp_login_banner_container.login a:hover .hp_login_banner_ico{ background:url(../images/ico_player_login.png) no-repeat 0 -72px}
.hp_login_banner_container.login.coach a:hover .hp_login_banner_ico{ background:url(../images/ico_coach_login.png) no-repeat 0 -72px}
.hp_login_banner_container.course a:hover .hp_login_banner_ico{ background:url(../images/ico_training_course.png) no-repeat 0 -72px}
.hp_login_banner_container.gear a:hover .hp_login_banner_ico{ background:url(../images/ico_training_gear.png) no-repeat 0 -72px}

/*.hp_login_banner_container.login a .hp_login_banner_ico:after{
content: "";
display:block;
background:url(../images/ico_player_login.png) no-repeat 0 -72px;
width:72px;height:72px;
opacity: 0;
-webkit-transition-property: opacity;
-moz-transition-property: opacity;
-o-transition-property: opacity;
-ms-transition-property: opacity;
transition-property: opacity;
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
-ms-transition-duration: 0.5s;
transition-duration: 0.5s;
}
.hp_login_banner_container.login a:hover .hp_login_banner_ico:after {
opacity: 1;
}
*/

section.top_16_popular{background:#0b76bc url(../images/soccer_bg.png) no-repeat right top;min-height:336px}
h2.heading_type1{font-size:40px;color:#fff;text-transform:uppercase;font-family:'bebas'}

.top16player{width:85%;height:490px;margin:45px 7.5%;position:relative}
.slide-wrap{width:100%;height:100%;margin:0;position:relative;overflow:hidden}
.slide-wrap li{display:none;position:absolute;z-index:0;overflow:hidden;box-shadow:0 2px 5px #222;list-style:none}
.slide-wrap .inner{position:relative;border-radius:3px 3px 0 0;background:#0c0c0c;height:100%;overflow:hidden}
.slide-wrap img{width:100%}

.slide-wrap .pic-det{width:100%;padding:1em .75em;height:auto;background:#0c0c0c;position:absolute;bottom:0;left:0;z-index:9999}
.slide-wrap .pic-det-left{width:auto;float:left}
.slide-wrap .pic-det-right{width:auto;float:right;font-family:'montserratlight';font-size:15px;color:#fff}
.slide-wrap .pic-det-left h3{font-family:'montserratregular';font-size:18px;color:#fff;margin:0;padding:0}
.slide-wrap .pic-det-left h4{font-family:'montserratlight';font-size:13px;color:#55aae1;margin:0;padding:0}

.slide-wrap li:nth-child(1),.slide-wrap li:nth-child(7){display:block;width:140px;height:185px;top:125px;left:1%;z-index:1;}
.slide-wrap li:nth-child(2),.slide-wrap li:nth-child(6){display:block;width:204px;height:270px;top:90px;left:7%;z-index:2;}
.slide-wrap li:nth-child(3),.slide-wrap li:nth-child(5){display:block;width:279px;height:370px;top:45px;left:20%;z-index:3;}
.slide-wrap li:nth-child(4){display:block;width:382px;height:490px;top:0;left:30.25%;z-index:4;}
.slide-wrap li:nth-child(5){left:inherit;right:20%}
.slide-wrap li:nth-child(6){left:inherit;right:7%}
.slide-wrap li:nth-child(7){left:inherit;right:1%}

.image_tag{position:absolute;bottom:90px;left:-4px;width:166px;line-height:51px;height:51px;background:url(../images/tag.png) no-repeat left top;font-size:14px;color:#fff;font-family:'montserratregular';text-align:left;padding:0 0 0 10px}
.arrow{width:31px;height:22px;position:absolute;top:160px;z-index:10;cursor:pointer}
.prev{background:url(../images/arrw_left.png) no-repeat 0 0;left:-100px}
.next{background:url(../images/arrw_right.png) no-repeat 0 0;right:-100px}

.hp_listing_area{ padding:0 0 30px 0}

footer h3{font-family: 'montserratbold'; font-size:15px; color:#fff; text-transform:uppercase; margin:0; padding:0}
footer ul{ margin:15px 0 0 0}
footer ul li{ list-style-type:none; line-height:21px}
footer ul li a{font-family: 'montserratlight'; font-size:12px; color:#fff}
footer ul li a:hover{ text-decoration:none; color:#0c0c0c}
footer ul li a.fb{ width:17px; height:14px; background:url(../images/ico_fb.png) no-repeat left center; padding-left:20px}
footer ul li a.tw{ width:17px; height:14px; background:url(../images/ico_tw.png) no-repeat left center; padding-left:20px}
footer ul li a.ln{ width:17px; height:14px; background:url(../images/ico_ln.png) no-repeat left center; padding-left:20px}
footer ul li a.youtube{ width:17px; height:14px; background:url(../images/ico_youtube.png) no-repeat left center; padding-left:20px}
span.copyright{font-family: 'montserratlight'; font-size:11px; color:#fff;display: block;    margin: 15px 0 0 0;}
span.copyright a{ color:#fff}
span.copyright a:hover{color:#0c0c0c}
section.newsletter_holder{ background:#1e99ea}

.newsletter_holder h2{font-family:'montserratblack';font-size:30px;color:#fff;margin:0;padding:0}
.newsletter_holder p{font-family:'montserratlight';font-size:12px;color:#fff;padding:7px 0}
.newsletter_holder input[type="email"]{width:476px;height:auto;background:#fff;border:none;padding:10px;font-family:'montserratregular';font-size:12px;color:#4e4c4c}
.newsletter_holder input[type="submit"], .newsletter_holder input[type="button"]{background:#1a5389;color:#fff;font-family:'montserratbold';font-size:12px;border:none;padding:10px 20px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.newsletter_holder input[type="submit"]:hover,.newsletter_holder input[type="button"]:hover{background:#0c0c0c}
section.brand_logo_holder{background:#fff}
section.featured_training_gear{background:#f9f9f9;border-top:#e7e7e7 1px solid;border-bottom:#e7e7e7 1px solid}
section.featured_training_gear h2{font-family:'montserratregular';font-size:14px;color:#000;text-transform:uppercase;letter-spacing:1px;margin:0 0 45px;padding:0}
.training_gear_nm{color:#8c8b8b;font-size:13px;font-family:'montserratlight';width:90%;display:inline-block;padding:7px 0;border-top:#ddd 1px solid;margin:15px 5% 0}
.training_gear_nm a{color:#8c8b8b;text-decoration:none}
.training_gear_nm a:hover{color:#0b76bc}
.training_gear_prc{font-family:'montserratlight';font-size:19px;color:#000;text-transform:uppercase;width:100%;display:inline-block}
.training_gear_img{width:100%;height:215px;line-height:215px;display:inline-block}
a.viewall_btn{font-family:'montserratregular';font-size:15px;color:#fff;background:#1e99ea;padding:12px 45px;border-radius:3px;text-decoration:none;display:inline-block}
a.viewall_btn:hover{background:#0c0c0c}
section.top_coaches{background:#fff}
section.top_coaches h2{font-family:'bebas';font-size:35px;color:#0b76bc;text-transform:uppercase;margin:0;padding:0}
section.top_coaches h2 span{color:#3e3e3e}
.coach_img{width:95px;height:95px;border-radius:100%;overflow:hidden;float:left;text-align: center}
.coach_img img{width:100%; height:auto;}
.coach_det_nm{width:100%;display:inline-block;color:#0b76bc;font-size:17px;font-family:'proxima_nova_rgregular';padding-top:25%}
.coach_det_nm a{color:#0b76bc}
.coach_det_nm a:hover{color:#0c0c0c; text-decoration:none}
.coach_det_cat{width:100%;display:inline-block;color:#404040;font-size:13px;font-family:'proxima_nova_rgregular'}
.popular_training_topbar{border-top:#e9e9e9 1px solid;border-bottom:#e9e9e9 1px solid}
.popular_training_topbar h2{font-family:'montserratbold';font-size:20px;color:#3e3e3e;text-transform:uppercase;margin:0;padding:7px 0 0 0}
a.seeall_btn{font-family:'montserratbold';font-size:11px;color:#2191da;text-transform:uppercase;letter-spacing:1px;text-decoration:underline;margin-right:30px;vertical-align: top;position: relative;top: 10px}
.training_course_nm{color:#0b76bc;font-size:20px;font-family:'montserratlight';width:100%;display:inline-block;padding:15px 0}
.trainer_nm{color:#262626;font-size:11px;font-family:'montserratregular';width:100%;display:inline-block}
.trainer_nm span{color:#7c7b7b}
.training_course_details_txt{color:#5c5c5c;font-size:13px;font-family:'proxima_nova_rgregular';padding:10px 0}
.view_details_training a{background:#1b1b1b url(../images/view_det_icon.png) no-repeat 15px center;padding:12px 22px 12px 36px;display:inline-block;border-radius:5px;color:#fff;font-family:'montserratregular';font-size:13px;margin-right:15px}
.view_details_training a:hover{text-decoration:none;background:#0b76bc url(../images/view_det_icon.png) no-repeat 15px center}
.book_training a{background:#0b76bc url(../images/view_det_icon.png) no-repeat 15px center;padding:12px 22px 12px 36px;display:inline-block;border-radius:5px;color:#fff;font-family:'montserratregular';font-size:13px}
.book_training a:hover{text-decoration:none;background:#1b1b1b url(../images/view_det_icon.png) no-repeat 15px center}
.training_course_details{margin-bottom:30px}
.top_highlight_panel h2{font-family:'montserratbold';font-size:20px;color:#3e3e3e;text-transform:uppercase;margin:0;padding:10px 0}
.highlight_txt{font-size:12px;color:#0e0e0e;font-family:'montserratregular'}
.highlight_txt a{color:#0e0e0e}
.highlight_txt a:hover{ text-decoration:none;    color: #0b76bc;}
.sortby_holder{color:#b0b0b0;font-family:'montserratregular';font-size:12px}
.sortby_txt{display:inline-block;vertical-align:top;position:relative;top:10px}
.flexslider{margin:0 0 30px;background:transparent;border:none}		

/** brand slider **/
.flexslider.brand_logos .slides > li{ height:90px; line-height:90px; text-align:center}
.flexslider.brand_logos .slides > li img{display: inline-block; width:auto; max-height:100%; max-width:100%; vertical-align:bottom}

/** training gear slider **/
.flexslider.training_gears .slides > li{ height:315px; line-height:normal; text-align:center }
.flexslider.training_gears .slides > li img{display: inline-block; width:auto; max-height:100%; max-width:100%; vertical-align:bottom}
.flexslider.training_gears .flex-direction-nav a{width:29px!important;height:55px!important;}
.flexslider.training_gears .flex-direction-nav a:before{background:url(../images/arrow_left.png) no-repeat center center;width:29px;height:55px}
.flexslider.training_gears .flex-direction-nav a.flex-next:before{background:url(../images/arrow_rght.png) no-repeat center center}

/** form-group css **/

.form-group{position:relative;display:inline-block;width:100%;margin:0 0 5px}
.form-group label{position:absolute;display:block;font-family:'montserratlight';color:#cfcece;font-size:11px;text-transform:uppercase;font-weight:400;margin-left:13px;line-height:50px;left:0;transition:all .4s;transform-origin:0 0}
.form-group input{font-size:13px;font-family:'montserratlight';color:#4e4c4c;margin-bottom:10px;height:50px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.form-group input[type="submit"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.form-group input[type="submit"]:hover{background:#1b1b1b}

.form-group.focused label{top:-8px;transform:scale(.9)}
.form-group.error input{border:1px solid #e74c3c}
.form-group.error label{color:#e74c3c}

/** Inner pages **/

.main_container.login-reg-pg{background:#fff url(../images/login-reg-bg.png) no-repeat 0 0;background:url(../images/login-reg-bg.png) no-repeat 0 0,-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);background:url(../images/login-reg-bg.png) no-repeat 0 0,-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);background:url(../images/login-reg-bg.png) no-repeat 0 0,linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);filter:url(../images/login-reg-bg.png) no-repeat 0 0,progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);background-size:contain}
section.breadcrumb{background:none;margin:0;border-bottom:#eaeaea 1px solid}
.breadcrumb ul{margin:0;padding:0}
.breadcrumb ul li{display:inline;list-style-type:none;padding:0 7px 0 0;color:#b6b6b6;font-size:12px;font-family:'montserratregular'}
.breadcrumb ul li span{font-size:15px}
.breadcrumb ul li a{color:#1e99ea;text-decoration:none}
.breadcrumb ul li a:hover{color:#1b1b1b}
.login_bg{width:467px;height:auto;background:url(../images/login_bg_border.png) no-repeat center bottom;padding:0 0 5px;margin:0 auto}
.login_bg_innr{width:467px;height:auto;padding:30px;border:#ccc 1px solid;border-radius:5px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3)}
a.forgot_password{color:#1e99ea;font-size:13px;font-family:'montserratlight';text-decoration:underline;margin-top:15px;display:inline-block}
a.forgot_password:hover{color:#1b1b1b}
.login_bg_bottom_txt{font-size:13px;font-family:'montserratlight';color:#4e4c4c;padding:15px 0 0;display:inline-block}
.login_bg_bottom_txt a{color:#1e99ea;text-decoration:underline}
.login_bg_bottom_txt a:hover{color:#1b1b1b}
.profile_ico_holder{width:84px;height:84px;display:inline-block;margin:0 0 15px}
.profile_ico_holder img{width:100%}
.reg_bg{/*width:85%;*/width:90%;height:auto;padding:30px 60px;border:#ccc 1px solid;border-radius:5px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);/*margin:0 7.5%*/margin:0 5%}
.reg_lft_img{max-width:100%}
.reg_lft_img img{max-width:100%;max-height:100%}
.reg_bg h2{margin:0 0 20px;padding:0;color:#111010;font-size:20px;font-family:'montserratregular'}
.reg_bg label{color:#4e4c4c;font-size:11px;font-family:'montserratlight';text-transform:uppercase;margin:0;padding:10px 0 0;font-weight:400}
.reg_bg input,.reg_bg select{font-size:13px;font-family:'montserratlight';color:#4e4c4c;margin-bottom:5px;height:50px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.reg_bg input[type="submit"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.reg_bg input[type="submit"]:hover{background:#1b1b1b}
.reg_bg input[type="button"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.reg_bg input[type="button"]:hover{background:#1b1b1b}
.reg_bg input[type="checkbox"]{height:auto;margin:0}
.reg_bg a{text-decoration:underline}
.reg_bg input[type="file"]{height:auto;padding:14px 10px}
.input-group-addon{background:none}
.glyphicon-calendar:before{content:url(../images/calendar_ico.png)}
.main_container section.innrpg{background:#fff url(../images/soccer_bg.png) no-repeat right top;background:url(../images/soccer_bg.png) no-repeat right top,-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);background:url(../images/soccer_bg.png) no-repeat right top,-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);background:url(../images/soccer_bg.png) no-repeat right top,linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);filter:url(../images/soccer_bg.png) no-repeat right top,progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0)}
.main_container section.innrpg_white{background:#fff url(../images/soccer_bg.png) no-repeat right top}
.coach_profile_img{width:357px;height:439px;border-radius:3px;overflow:hidden;-webkit-box-shadow: 1px 0 10px rgba(0,0,0,.2);box-shadow: 1px 0 10px rgba(0,0,0,.2);line-height: 439px}
.coach_profile_img img{width:100%;height:auto}
h2.coach_heading{color:#191919;font-size:40px;font-family:'montserratblack';text-transform:uppercase;margin:0;padding:10px 0 0}
.short_desc_holder{width:auto;float:right;border-left:#838383 1px solid;padding:10px 0 10px 15px;color:#838383;font-size:15px;font-family:'montserratbold'}
.coach_details_holder{border-radius:5px;background:#0b76bc;margin-top:15px}
.coach_details_row{border-bottom:#0f7dc5 1px solid;color:#fff}
.coach_details_row a{ color:#fff; text-decoration:none;}
.coach_details_row:last-child{border:none}
.coach_details_row_lft{font-family:'montserratregular';font-size:15px;padding:15px}
.coach_details_row_rght{font-size:20px;font-family:'montserratbold';border-left:#0f7dc5 1px solid;padding:11px 15px}
.coach_details_row_rght ul{margin:0 0 0 15px}
.coach_details_row_rght ul li{list-style-type:none;list-style-image:url(../images/arrw_lft.png)}
.profile_top_holder{width:100%;display:table}
.profile_top_holder_lft,.profile_top_holder_rght{display:table-cell;vertical-align:middle;float:none}
span.strong{font-family:'montserratbold';color:#000}
h2.innrpg_subhd{font-family:'montserratblack';font-size:25px;color:#000;margin:0 0 15px;padding:0}
p.innrpg_txt{color:#2f2f2f;font-family:'montserratlight';font-size:14px}
.profile_bottom_right{border-left:#ccc 1px solid;padding-left:30px}
.profile_bottom_lft ul{margin:0;padding:0}
.profile_bottom_lft ul li{float:left;width:30.33%;margin:0 3% 30px 0;list-style-type:none}
.profile_bottom_holder{display:table;width:100%;}
.profile_bottom_lft,.profile_bottom_right{display:table-cell;vertical-align:top;float:none}
.vid_ico_img{width:150px;height:99px;background:#ccc;display:inline-block;position:relative; text-align:center}
.vid_ico img, .vid_ico video{max-width:100%;max-height:100%}
.vid_ico_nm{width:100%;display:inline-block;padding:5px 0 0;white-space:nowrap;overflow:hidden!important;text-overflow:ellipsis;color:#0e0e0e;font-size:12px;font-family:'montserratregular'}
.vid_ico_nm a{color:#0e0e0e}
.vid_ico_nm a:hover{text-decoration:none;color:#0b76bc}
.vid_ico_dt{width:100%;display:inline-block;font-family:'montserratregular';color:#c4c4c4;font-size:10px}
section.search_filter_holder{background:#f8f8f8;border-bottom:#eaeaea 1px solid}
.search_holder{width:456px;background:#fff;display:inline-block;border:#ccc 1px solid;border-radius:5px;vertical-align:top}
.search_holder input[type="text"]{width:90%;padding:15px 10px;float:left;border:none;font-size:14px;background:none;color:#c1c1c1}
.search_holder input[type="submit"]{text-indent:-9999px;width:16px;height:46px;background:url(../images/srch_ico.png) no-repeat center;background-color:transparent;border:none}
.search_holder input[type="button"]{text-indent:-9999px;width:16px;height:46px;background:url(../images/srch_ico.png) no-repeat center;background-color:transparent;border:none}
.filter_holder{display:inline-block;vertical-align:top}
.coach_listing ul li{width:20%;float:left;list-style-type:none;padding:15px 0}
.coach_listing ul{margin:0;padding:0}
.coach_img_holder_outer{width:140px;height:140px;border-radius:100%;background:#fff;margin:0 auto;border:#7bc3f3 2px solid}
.coach_img_holder_innr{width:130px;height:130px;border-radius:100%;background:#fff;overflow:hidden;text-align:center;margin:3px auto}
/*.coach_img_holder_innr img{max-width:100%;max-height:100%}*/
span.coach_nm{color:#0b76bc;font-size:17px;font-family:'proxima_nova_rgregular';width:100%;display:inline-block;margin:5px 0 0}
span.coach_nm a{color:#0b76bc}
span.coach_nm a:hover{color:#0b76bc;text-decoration:none}
span.coach_subhd{color:#404040;font-size:13px;font-family:'proxima_nova_rgregular';width:100%;display:inline-block}

.upload_vid_icon{ position:absolute; top:5px; right:5px}

.vertical-alignment-helper{display:table;height:100%;width:100%;pointer-events:none}
.vertical-align-center{display:table-cell;vertical-align:middle;pointer-events:none}
.modal-content{width:inherit;height:inherit;margin:0 auto;pointer-events:all}

.upload_video_hd{color:#3e3e3e;font-size:20px;font-family:'montserratbold'}
.modal-content input[type="submit"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.modal-content input[type="submit"]:hover{background:#1b1b1b}
.modal-content input[type="button"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.modal-content input[type="button"]:hover{background:#1b1b1b}
.modal-content input[type="text"]{font-size:13px;font-family:'montserratlight';color:#4e4c4c;margin-bottom:5px;height:50px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}	

/** select dropdown style **/

.ui-selectmenu-button span.ui-selectmenu-text{line-height:normal;text-overflow:initial;white-space:initial;font-size:14px;font-family:'proxima_nova_rgregular';padding:15px 60px 15px 10px;background:#fff;color:#4e4c4c}
.ui-state-default .ui-icon{background-image:url(../images/arrw_dwn.png);background-position:0 0}
.ui-selectmenu-button span.ui-icon{margin-top:-5px!important}
.ui-menu .ui-menu-item{font-family:'proxima_nova_rgregular';padding:7px 1em 7px .4em}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #ddd;border:1px solid #ccc}
.ui-selectmenu-menu .ui-menu {max-height: 212px}

.search_filter_holder .ui-selectmenu-button.ui-widget.ui-state-default{min-width:230px!important}
.reg_bg .ui-selectmenu-button.ui-widget.ui-state-default{width:100%!important}
.sortby_holder .ui-selectmenu-button.ui-widget.ui-state-default{min-width:120px!important}
.sortby_holder .ui-selectmenu-button span.ui-selectmenu-text {padding: 7px 60px 7px 10px;}

/** 13-01-2016 - Player section **/

.search_filter_holder.player_listing .ui-selectmenu-button.ui-widget.ui-state-default{min-width:177px!important}
.search_filter_holder.player_listing .search_holder{width:185px}
.search_filter_holder.player_listing .search_holder input[type="text"]{width:80%}
.search_filter_holder.player_listing .filter_holder_txt{padding-top:15px;padding-left:15px;display:inline-block}
.player_holder_outer{ margin:15px 0}
.player_holder_inner{ background:#f3f3f3; width:100%; height:160px;}
.player_img{ width:37%; height:160px; overflow:hidden; float:left; position:relative}
.player_img img{ max-width:100%; max-height:100%;}
.player_img .level{ width:80px; height:22px; position:absolute; top:15px; left:0}
.player_img .level.green{ background:url(../images/level_green.png) no-repeat 0 0;}
.player_img .level.orange{ background:url(../images/level_orange.png) no-repeat 0 0;}
.player_img .level.blue{ background:url(../images/level_blue.png) no-repeat 0 0;}
.player_img .level .level_ico{ line-height:22px; padding-left:5px;}
.player_img .level .level_ico img{ vertical-align:middle}
.player_img .level .level_txt{font-family: 'montserratregular'; font-size:10px; color:#fff; line-height:22px; padding-left:3px;}
.player_holder_inner_rght{ padding:15px; float:left; width:63%; height:100%; position:relative}
.player_holder_inner_rght .player_nm{ width:100%; display:inline-block; color:#0b76bc; font-size:17px;font-family: 'proxima_nova_rgregular';}
.player_holder_inner_rght .player_pos{ width:100%; display:inline-block; color:#404040; font-size:13px;font-family: 'proxima_nova_rgregular';}
.player_holder_inner_rght .player_country{ width:100%; display:inline-block;}
.player_holder_inner_rght .age_group{ position:absolute; bottom:15px; left:15px;color:#404040; font-size:13px;font-family: 'proxima_nova_rgregular';}
.player_holder_inner_rght .team_logo{ position:absolute; right:10px; bottom:10px}

/** 14-01-2016 **/

.graph_area{ background:#0b76bc url(../images/soccer_bg2.png) no-repeat left bottom; min-height:645px}
.profile_top_holder.player_profile{ padding-bottom:60px}
.graph_area .nav-tabs>li.active>a,.graph_area .nav-tabs>li.active>a:focus,.graph_area .nav-tabs>li.active>a:hover{color:#fff;background-color:#0b76bc;border:1px solid #0b76bc!important;text-shadow:none}
.graph_area .nav-tabs{margin-top:-50px}
.graph_area .nav>li>a:focus,.graph_area .nav>li>a:hover{background-color:transparent;border-color:#c8c8c8!important}
.graph_area .nav-tabs>li>a{border:1px solid #c8c8c8;color:#666;text-shadow:1px 1px 2px rgba(255,255,255,1);font-family:'montserratregular';font-size:13px;padding:15px 30px}
.graph_area .tab-content{padding:30px 0}
h2.innrpg_subhd2{font-family: 'montserratbold';font-size:12px;color:#000;margin:30px 0 0;padding:0;text-transform: uppercase}
.notes_row{width:100%;display:inline-block}
.notes_row textarea{font-size:13px;font-family:'montserratlight';color:#4e4c4c;height:100px;border:1px solid #ccc;width:95%;padding:2.5%;border:1px solid #ccc;border-radius:4px}
.notes_row input[type="submit"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.notes_row input[type="submit"]:hover{background:#1b1b1b}
.notes_row input[type="button"]{background:#1e99ea;height:auto;font-family:'montserratregular';font-size:12px;color:#fff;text-transform:uppercase;padding:15px 45px;border-radius:3px;border:none;margin:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.notes_row input[type="button"]:hover{background:#1b1b1b}
.notes_row .coach_img{width:72px;height:72px;border-radius:100%;text-align: center;overflow:hidden}
/*.notes_row .coach_img img{max-width:100%;max-height:100%}*/
.notes_row .relation_to_player{color:#272727;font-size:12px;font-family:'montserratbold';text-transform:uppercase;margin:7px 0}
.notes_row .relation_to_player span{color:#b5b5b5;font-family:'montserratlight';padding-left:30px}
.notes_row .comment{color:#2f2f2f;font-size:14px;font-family:'montserratlight';font-style:italic}
.personal_development_fund_holder{width:100%;background:#f6f6f6;padding:60px 30px;border-bottom:#ccc 1px solid}
.profile_bottom_right.two{padding:0}
.personal_development_fund_holder p{color:#828282;font-family:'montserratregular';font-size:12px;margin:0;padding:0 0 10px}
.personal_development_fund_holder h2{color:#2b2b2b;font-size:50px;font-family:'montserratregular';margin:0;padding:0}
.personal_development_fund_holder ul.label{margin:15px 0;padding:0;display:inline-block}
.personal_development_fund_holder ul.label li{list-style-type:none;display:inline-block;background:#0b76bc;height:auto;font-family:'montserratregular';font-size:10px;color:#fff;padding:15px 45px;border-radius:3px;font-weight:400;margin:0 5px}
.personal_development_fund_holder ul.label li span{font-family:'montserratbold';font-size:17px;text-transform:uppercase}
.personal_development_fund_holder ul.bottom_links{margin:15px 0;padding:0}
.personal_development_fund_holder ul.bottom_links li{list-style-type:none;display:inline}
.personal_development_fund_holder ul.bottom_links li a{display:inline-block;color:#2e85c3;font-size:12px;font-family:'montserratlight';padding:0 10px 0 21px;height:18px;line-height:18px}
.personal_development_fund_holder ul.bottom_links li a:hover{text-decoration:none;color:#444}
.personal_development_fund_holder ul.bottom_links li:nth-child(1) a{background:url(../images/ico_plus.png) no-repeat left center}
.personal_development_fund_holder ul.bottom_links li:nth-child(2) a{background:url(../images/ico_book.png) no-repeat left center}
.personal_development_fund_holder ul.bottom_links li:nth-child(3) a{background:url(../images/ico_purchase.png) no-repeat left center}
.upcoming_dev_course{padding:30px}
.upcoming_dev_course ul{margin:30px 0 0;padding:0}
.upcoming_dev_course ul li{display:inline-block;text-align:center;list-style-type:none;padding:0 15px}
.upcoming_dev_course_img,.upcoming_dev_course_txt{display:inline-block}
.upcoming_dev_course_txt{font-family:'montserratregular';font-size:12px;color:#0b76bc;padding:7px 0 0}
.upcoming_dev_course ul li a{text-decoration:none!important}
.upcoming_dev_course ul li a:hover .upcoming_dev_course_txt{color:#444}
.graph_filter_holder .ui-selectmenu-button.ui-widget.ui-state-default{width:auto!important;min-width:210px;border:1px solid #fff;background:none}
.graph_filter_holder .ui-selectmenu-button span.ui-selectmenu-text{background:none;color:#fff}
.graph_filter_holder .ui-state-default .ui-icon{background-image:url(../images/arrw_dwn2.png)}
.graph_filter_holder .ui-selectmenu-button span.ui-selectmenu-text{padding:10px 60px 10px 10px}
.graph_filter_holder .ui-widget-content{border:1px solid #fff}
.graph_filter_holder input[type="submit"],.graph_filter_holder input[type="button"]{color:#0b76bc;font-size:12px;font-family:'montserratbold';background:#fff;padding:11px 30px;text-transform:uppercase;border-radius:5px;border:none;display:inline-block;vertical-align:top;margin-left:10px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.graph_filter_holder input[type="submit"]:hover,.graph_filter_holder input[type="button"]:hover{background:#1b1b1b;color:#fff}
.graph_table_holder{width:100%;display:table;margin-top:45px;text-align:center}
.graph_table_row{display:table-row}
.graph_table_col{display:table-cell;border-bottom:#2998e0 1px solid;vertical-align:middle;padding:10px 0}
.graph_table_row .graph_table_col{font-family:'montserratregular';font-size:14px;color:#fff;text-transform:uppercase;border-right:#2998e0 1px solid}
.graph_table_row .graph_table_col:nth-child(1){text-align:right;font-size:10px;padding-right:11px}
.graph_table_row .graph_table_col:last-child{border-right:none}
.graph_table_row:nth-child(1) .graph_table_col{font-family:'montserratbold';font-size:14px;color:#fff;text-transform:uppercase;background:#075f99;border-right:none}
.graph_table_row:nth-child(3) .graph_table_col:nth-child(2){color:#ff6363}
.graph_table_row:nth-child(3) .graph_table_col:nth-child(3){color:#f48a19}
.graph_table_row:nth-child(3) .graph_table_col:nth-child(4){color:#ff97ca}
.graph_table_row:nth-child(3) .graph_table_col:nth-child(5){color:#1fbb82}
.graph_holder{width:100%;height:320px;float:left;margin:30px 0;position:relative;border-left:#2998e0 1px solid;border-bottom:#2998e0 1px solid;background:url(../images/dash_bg.png) repeat-x left 40px,url(../images/dash_bg.png) repeat-x left 80px,url(../images/dash_bg.png) repeat-x left 120px,url(../images/dash_bg.png) repeat-x left 160px,url(../images/dash_bg.png) repeat-x left 200px,url(../images/dash_bg.png) repeat-x left 240px,url(../images/dash_bg.png) repeat-x left 280px}
.graph_row_val{position:absolute;width:20px;text-align:right;left:-25px;font-family:'montserratbold';font-size:12px;color:#fff}
.graph_row_val.one{bottom:-5px}
.graph_row_val.two{bottom:34px}
.graph_row_val.three{bottom:74px}
.graph_row_val.four{bottom:114px}
.graph_row_val.five{bottom:154px}
.graph_row_val.six{bottom:194px}
.graph_row_val.seven{bottom:234px}
.graph_row_val.eight{bottom:274px}
.bar_outer{width:31px;height:184px;position:absolute}
.bar_details{position:absolute;font-family:'montserratblack';font-size:14px;color:#fff;height:24px;margin-left:31px; display:none}
.bar_details_val{padding:0 5px}
.bar_outer.one,.bar_details.one{left:12.5%}
.bar_outer.two,.bar_details.two{left:37.5%}
.bar_outer.three,.bar_details.three{left:62.5%}
.bar_outer.four,.bar_details.four{left:87.5%}
.bar_innr{width:100%;position:absolute;bottom:0;left:0;background:#fff url(../images/graph_bar_pattern_bg.png) repeat 0 0;border-radius:3px;overflow:hidden}
.bar_innr ul{margin:0;padding:0;width:100%;position:absolute;left:0;bottom:0}
.bar_innr ul li{list-style-type:none;width:100%;height:8px;background:#00c0ff}

/** 15-01-2016 **/

.achievement_holder{width:100%;display:inline-block}
.achievement{width:16.5%;height:570px;margin:0 1% 0 0;padding:0;float:left}
.achievement_rght{width:30%;height:500px;padding:0;border-radius:5px;float:right;background:#fff;overflow:hidden;position:relative}
h2.achievement_hd{font-family:'montserratregular';font-size:19px;color:#fff;text-align:center;margin:0;padding:0;height:45px}
.achievement_innr{width:100%;height:455px;margin-top:0;border-radius:5px;padding:0;overflow:auto}
.achievement_innr.red{background:#ff6363 url(../images/achievement_icon.png) no-repeat center}
.achievement_innr.blue{background:#1e99ea url(../images/achievement_icon.png) no-repeat center}
.achievement_innr.green{background:#1fbb82 url(../images/achievement_icon.png) no-repeat center}
.achievement_innr.orange{background:#df7300 url(../images/achievement_icon.png) no-repeat center}
.achievement_row{width:100%;display:inline-block;margin:0;padding:15px 15px 0 15px;position:relative}
.achievement_level{color:#262626;font-family:'bebas';font-size:17px;text-transform:uppercase}
.achievement_dt{color:#ffcfcf;font-size:9px;font-family:'montserratregular'}
.achievement_det{font-family:'montserratregular';font-size:12px;color:#fff;padding:7px 0 10px;border-bottom: rgba(255,255,255,0.5) 1px solid;}
.achievement_level,.achievement_dt,.achievement_det{width:100%;display:inline-block}
.mCSB_container{margin-right:10px}
.mCustomScrollBox>.mCSB_scrollTools{right:-5px}
.achievement_rght_top_outer,.achievement_rght_mid_outer{width:100%;display:inline-block;float: left}
.achievement_rght_mid_outer{height:385px;overflow:auto}
.achievement_rght_top,.achievement_rght_bottom{/*background:#9cd8ff*/background:#5d9ad0;}
.achievement_rght_mid{background:#fff}
.achievement_rght_bottom{position:absolute;bottom:0;width:100%;padding:15px}
.achievement_rght_top,.achievement_rght_mid{display:table;width:100%}
.achievement-row{width:100%;display:table-row}
.achievement-col{display:table-cell;vertical-align:middle;font-family:'montserratregular';font-size:12px;color:#737373;padding:10px 15px}
.achievement_rght_top .achievement-col{/*color:#0b76bc*/ color:#fff}
.achievement_rght .mCustomScrollBox>.mCSB_scrollTools{right:5px}
.achievement_rght .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#9cd8ff}
.achievement_rght .mCSB_scrollTools .mCSB_draggerRail{background-color:#1e99ea}
.achievement_btn{color:#fff!important;padding:10px;font-family:'montserratregular';font-size:12px;display:inline-block;margin:0 3px;border-radius:3px}
.achievement_btn.blue{background:#0b76bc}
.achievement_btn.red{background:#da2525}
.achievement_btn:hover{text-decoration:none;background:#191919;color:#fff}
.form-group.family input[type="submit"]{background:#003a60}
.form-group.family input[type="submit"]:hover{background:#1b1b1b}
.reg_bg.family input[type="submit"]{background:#003a60}
.reg_bg.family input[type="submit"]:hover{background:#1b1b1b}
.reg_bg.family input[type="button"]{background:#003a60}
.reg_bg.family input[type="button"]:hover{background:#1b1b1b}
.transaction_tbl{width:95%;display:table}
.transaction_tbl_row{display:table-row;width:100%}
.transaction_tbl_col{display:table-cell;padding:10px 5px;vertical-align:middle;color:#2f2f2f;font-family:'montserratbold';font-size:14px}
.transaction_tbl_col:nth-child(1){width:20%}
.transaction_tbl_col:nth-child(2){width:60%}
.transaction_tbl_col:nth-child(3){width:20%}
.transaction_tbl_outer .transaction_tbl_col{color:gray;font-family:'montserratlight'}
.transaction_tbl_outer{height:350px;overflow:auto}
.transaction_tbl_outer .mCustomScrollBox>.mCSB_scrollTools{right:15px}
/** added 21.01.2016 **/

.profile_top_holder_lft,.profile_top_holder_rght{position:relative}
.edit_profile_btn{position:absolute;right:15px;top:0}
.edit_profile_btn a{background:#1e99ea;padding:7px 15px;color:#fff;text-decoration:none;font-size:13px;text-transform:uppercase;font-family:'montserratbold';border-radius:3px;letter-spacing:1px}
.edit_profile_btn a:hover{background:#191919}
/** added 29.01.2016 **/

.canvasjs-chart-credit{display:none!important}
.canvasjs-chart-tooltip > div{width:225px!important;white-space:normal!important}
.graph_area .nav-tabs.chart_tabs{text-align:center;border:none;margin:0 auto;display:table}
.graph_area .nav-tabs.chart_tabs>li>a{color:#fff;padding:10px 25px!important;text-shadow:none;margin:0;border-radius:0;border-left:0}
.graph_area .nav-tabs.chart_tabs>li>a,.graph_area .nav-tabs.chart_tabs>li>a:focus,.graph_area .nav-tabs.chart_tabs>li:active>a,.graph_area .nav-tabs.chart_tabs>li:active>a:focus,.graph_area .nav-tabs.chart_tabs>li>a:hover{border-top:#fff 1px solid!important;border-bottom:#fff 1px solid!important;border-right:#fff 1px solid!important}
.graph_area .nav-tabs.chart_tabs>li:nth-child(1)>a{border-left:#fff 1px solid!important;border-radius:20px 0 0 20px}
.graph_area .nav-tabs.chart_tabs>li:nth-child(4)>a{border-radius:0 20px 20px 0}
.graph_area .nav-tabs.chart_tabs>li:nth-child(1)>a{background-color:#ff6363}
.graph_area .nav-tabs.chart_tabs>li:nth-child(2)>a{background-color:#1e99ea}
.graph_area .nav-tabs.chart_tabs>li:nth-child(3)>a{background-color:#df7300}
.graph_area .nav-tabs.chart_tabs>li:nth-child(4)>a{background-color:#1fbb82}

/** 04-02-2016 **/

.profile_top_holder.coach_profile{padding-bottom:60px}
.achievement_holder.coach_profile .achievement{width: 18%;margin: 0 1%}
.achievement_innr.purple{background: #de91fb url(../images/achievement_icon.png) no-repeat center}

/** 04-02-2016 Course Listing and Details page **/

section.event_calendar_bg{background:#f8f8f8}
.eventCalendar-slider,.eventCalendar-list-wrap{width:50%!important;float:left;position:relative;height:365px!important;background:#fff}
.eventCalendar-monthWrap{width:100%!important;position:relative}
.eventCalendar-daysList.eventCalendar-showAsWeek,.eventCalendar-monthWrap{height:100%}
.eventCalendar-showAsWeek .eventCalendar-day a{line-height:45px}
.eventCalendar-list-content.scrollable{height:300px}
.eventCalendar-wrap{border:none;box-shadow:none;border-radius:0;background-color:#fff;display:inline-block;width:100%;margin:45px 0}
.eventCalendar-slider{z-index:1}
.eventCalendar-list-wrap{padding:30px;z-index:2}
.event_calendar_bg.red .eventCalendar-list-wrap{background:#ff6363}
.eventCalendar-wrap .eventCalendar-subtitle,.eventCalendar-wrap time{display:none}
.eventCalendar-loading{border-radius:0;margin:0 auto;padding:0;background-color:transparent;color:#fff;text-align:center;font-weight:400;box-shadow:none;text-shadow:none;position:relative;z-index:4;top:0;left:0;font-family:'montserratlight';font-size:20px;line-height:normal;height:auto}
.eventCalendar-list li{padding:5px 0;border-bottom:rgba(255,255,255,0.2) 1px solid}
.eventCalendar-list li a.eventCalendar-eventTitle{color:#fff}
.eventCalendar-list li .eventCalendar-eventTitle{font-family:'montserratlight';/*font-size:20px;*/font-size:18px;font-weight:400}
.eventCalendar-list li a.eventCalendar-eventTitle:hover{text-decoration:none;color:#222}
.eventCalendar-hidden{color:#fff;padding:7px 0 0;font-size:13px}
.eventCalendar-hidden a.bt{background:#fff;padding:15px 0;display:inline-block;border-radius:3px;color:#454545;font-family:'montserratregular';font-size:15px;margin-right:15px;text-shadow:none;border:none;border-color:transparent;box-shadow:none;font-weight:400;display:block;width:240px;text-transform:uppercase}
.eventCalendar-hidden a.bt:hover{background:#454545;color:#fff}
.eventCalendar-daysList.eventCalendar-showAsWeek{margin:15px;width:auto;border:none;border-bottom-width:0;border-radius:0;background-color:transparent;background-image:none;background-image:none;background-image:none;background-image:none;background-image:none;background-image:none}
.eventCalendar-showAsWeek .eventCalendar-day a{border:solid 1px red;border-color:transparent;line-height:27px;font-size:11px;width:40px;height:40px;line-height:40px!important;border-radius:100%;color:#676767!important;font-size:14px;font-family:'montserratregular';margin:0 auto}
.eventCalendar-dayWithEvents{background:none}
.eventCalendar-daysList.eventCalendar-showAsWeek li{margin:7px 0}
.eventCalendar-daysList li.eventCalendar-dayWithEvents a{background:none;border:#9b9b9b 1px solid}
li.eventCalendar-day.eventCalendar-dayWithEvents a:hover{background-color:#eee}
.eventCalendar-daysList li.today a{color:#fff!important;background:#0b76bc}
.eventCalendar-daysList.eventCalendar-showAsWeek li.eventCalendar-current a{background:#1e99ea;border:none;color:#fff!important}
.eventCalendar-current{background:transparent}
.eventCalendar-daysList.eventCalendar-showAsWeek li{margin:7px 0;border:none;font-size:14px;color:#000;text-transform:uppercase;font-family:'montserratlight'}
.eventCalendar-currentTitle{line-height:40px;background-color:#0b76bc;outline:1px solid #0b76bc;border:none;border-width:0;font-family:'montserratlight';font-size:20px;text-align:center}
.eventCalendar-currentTitle .eventCalendar-monthTitle{font-size:100%;text-decoration:none;font-weight:400;color:#fff;text-transform:uppercase;display:inline-block}
.eventCalendar-monthWrap{border-radius:0;top:0;left:0}
.eventCalendar-wrap .eventCalendar-arrow{text-decoration:none;color:#fff;line-height:normal;top:15px;padding:0 7px}
.eventCalendar-daysList.eventCalendar-showAsWeek li.eventCalendar-empty{background-color:transparent;border-top:none}
.eventCalendar-list .eventCalendar-noEvents{font-size:120%;border-radius:0;margin:0;padding:0;background-color:transparent;color:#fff;text-align:center;font-weight:700;box-shadow:none;text-shadow:none;font-family:'montserratlight';font-size:20px;font-weight:normal;border-bottom:none}
.course_listing_topbar{padding:30px 0 0}
.course_listing_topbar .course_ico{width:20px;display:inline-block}
.course_listing_topbar .course_ico img{width:100%}
.course_listing_topbar .course_nm{color:#323232;font-size:20px;font-family:'montserratlight';text-transform:uppercase;display:inline-block;width:100%}
.course_listing_topbar .course_nm_desc{color:#818181;font-size:14px}
.event_calendar_bg .nav-tabs{text-align:center;border:none;margin:45px auto 0;display:table}
.event_calendar_bg .nav-tabs>li>a{color:#fff;padding:10px 25px!important;text-shadow:none;margin:0;border-radius:0;border-left:0}
.event_calendar_bg .nav-tabs>li>a,.event_calendar_bg .nav-tabs>li>a:focus,.event_calendar_bg .nav-tabs>li:active>a,.event_calendar_bg .nav-tabs>li:active>a:focus,.event_calendar_bg .nav-tabs>li>a:hover{border-top:#fff 1px solid!important;border-bottom:#fff 1px solid!important;border-right:#fff 1px solid!important;color:#fff!important}
.event_calendar_bg .nav-tabs>li:nth-child(1)>a{border-left:#fff 1px solid!important;border-radius:20px 0 0 20px}
.event_calendar_bg .nav-tabs>li:nth-child(4)>a{border-radius:0 20px 20px 0}
.event_calendar_bg .nav-tabs>li:nth-child(1)>a{background-color:#ff6363}
.event_calendar_bg .nav-tabs>li:nth-child(2)>a{background-color:#1e99ea}
.event_calendar_bg .nav-tabs>li:nth-child(3)>a{background-color:#df7300}
.event_calendar_bg .nav-tabs>li:nth-child(4)>a{background-color:#1fbb82}
p.select_dt{display:inline-block;text-align:center;width:100%;margin:15px 0 0;color:#818181;font-size:14px;font-family:'montserratlight'}
.tab-pane .eventCalendar-wrap{margin:30px 0 45px}
.event_calendar_bg.blue .eventCalendar-list-wrap{background:#1e99ea}
.event_calendar_bg.orange .eventCalendar-list-wrap{background:#df7300}
.event_calendar_bg.green .eventCalendar-list-wrap{background:#1fbb82}
.event_calendar_bg .nav-tabs>li.active>a,.event_calendar_bg .nav-tabs>li.active>a:hover{border-left:none!important}
.event_calendar_bg .nav-tabs>li>a{position:relative}
.event_calendar_bg .nav-tabs>li.active a:before{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.event_calendar_bg .nav-tabs>li.active a:after{border-color:rgba(255,255,255,0);border-width:1px;margin-left:-1px}
.event_calendar_bg .nav-tabs>li.active a:before{border-color:rgba(255,255,255,0);border-width:7px;margin-left:-7px}
.event_calendar_bg .nav-tabs>li.active:nth-child(1) a:after,.event_calendar_bg .nav-tabs>li.active:nth-child(1) a:before{border-top-color:#ff6363}
.event_calendar_bg .nav-tabs>li.active:nth-child(2) a:after,.event_calendar_bg .nav-tabs>li.active:nth-child(2) a:before{border-top-color:#1e99ea}
.event_calendar_bg .nav-tabs>li.active:nth-child(3) a:after,.event_calendar_bg .nav-tabs>li.active:nth-child(3) a:before{border-top-color:#df7300}
.event_calendar_bg .nav-tabs>li.active:nth-child(4) a:after,.event_calendar_bg .nav-tabs>li.active:nth-child(4) a:before{border-top-color:#1fbb82}

/** 05-02-2016 product listing page **/

#cssmenu,#cssmenu ul,#cssmenu li,#cssmenu a{margin:0;padding:0;border:0;list-style:none;font-weight:400;text-decoration:none;line-height:1;position:relative}
#cssmenu{width:100%;padding:0 0 60px}
#cssmenu > ul > li{text-align:left}
#cssmenu > ul > li > a{font-size:11px;display:block;color:#6b6b6b;text-transform:uppercase;font-family:'montserratregular'}
#cssmenu > ul > li > a > span{display:block;border-bottom:1px solid #dedede;padding:15px 10px}
#cssmenu > ul > li > a:hover > span{color:#0b76bc}
#cssmenu > ul > li > a:hover{text-decoration:none}
#cssmenu > ul > li.active{border-bottom:none}
#cssmenu > ul > li.active > a{background:none}
#cssmenu > ul > li.active > a span{color:#ffcd2c}
#cssmenu > ul > li.has-sub > a span{background:url(../images/plus.png) no-repeat 95% center}
#cssmenu > ul > li.has-sub.active > a span{background:url(../images/minus.png) 94.5% center no-repeat;color:#0b76bc}
#cssmenu ul ul{padding:5px 12px;background:#f7f7f7;display:none}
#cssmenu ul ul li{padding:3px 0;font-family:'montserratregular';font-size:11px;text-transform:uppercase}
#cssmenu ul ul a{display:block;font-weight:400;border-bottom:#dedede 1px solid;padding:7px 8px;color:#6b6b6b}
#cssmenu ul ul li:last-child a{border-bottom:none}
#cssmenu ul ul a:hover{color:#0b76bc}
#cssmenu ul ul a.active{color:#0b76bc}

.product_list_hd{margin:0;padding:15px 10px;border-bottom:#dedede 1px solid;color:#161616;font-family:'bebas';font-size:20px}
.prod_list_holder{width:100%;display:table}
.prod_list_left,.prod_list_right{display:table-cell;vertical-align:top;float:none}
.prod_list_left{padding-right:0}
.prod_list_right{padding-left:0;border-left:#dedede 1px solid}
.product_list_hd.rightpanel ul{margin:0;padding:0}
.product_list_hd.rightpanel ul li{list-style-type:none;display:inline-block;margin:0 15px}
.product_list_hd.rightpanel ul li a{color:#282828;font-size:12px;font-family:'montserratlight';text-transform:uppercase}
.product_list_hd.rightpanel ul li a:hover{text-decoration:none;color:#0b76bc}
.product_list_hd.rightpanel ul li a.active{color:#dedede;border-bottom:#dedede 1px solid}
.prod_holder{margin:30px 0;display:inline-block}
.prod_img{width:100%;height:220px;display:inline-block;line-height:220px}
.prod_img img{max-width:100%;max-height:100%;vertical-align:middle}
.prod_nm{border-top:#ddd 1px solid;margin:15px 2.5% 5px;width:95%;display:inline-block;color:#8c8b8b;font-size:13px;font-family:'montserratlight';padding:5px 0 0}
.prod_prc{font-family:'montserratlight';font-size:19px;color:#000}
.breadcrumb ul{width:auto;display:inline-block}
.topbar_cart{width:auto;display:inline-block;float:right;font-size:10px;color:#b6b6b6;font-family:'montserratregular';text-transform:uppercase}
.cart_ico_holder{position:relative}
.cart_val{position:absolute;background:#000;color:#fff;top:-13px;left:10px;border-radius:100%;font-family:'montserratregular';font-size:11px;width:20px;height:20px;line-height:20px;text-align:center}
.topbar_cart .cart_prc{font-family:'montserratregular';font-size:19px;color:#000;padding:0 0 0 10px}
.topbar_cart .cart_prc sup{font-size:11px;font-family:'montserratlight';position:relative;top:-10px}

/** 08-02-2016 - product details page **/

.prod_det_holder{width:100%;margin:45px 0;display:table}
.prod_det_gallery{width:100%;display:inline-block}
.slide-smalls{display:block;width:22%;min-height:385px;border:0 solid #c3c3c3;float:left;margin:0;padding:0;background:#fff}
.slide-smalls ul{display:block;width:90px;min-height:385px;margin:0;padding:0}
.slide-smalls ul li{display:block;width:86px;height:86px;margin:1px 1px 10px 1px;padding:0;border:0 solid #c3c3c3}
.slide-smalls ul li a{border:0 solid #036;display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center}
.main-display{display:display;width:78%;height:385px;margin:0;border:1px solid #e2e2e2;float:left;padding:0;vertical-align:middle}
.main-display a{display:table-cell;width:100%;height:385px;text-align:center;vertical-align:middle}
.mz-figure div,.mz-figure span,.mz-expand div,.mz-expand span{font-size:0!important}
.prod_det_mid h2.product_title{color:#676767;font-size:18px;font-family:'montserratregular';margin:0;padding:0}
.prod_det_mid .product_price{width:100%;display:inline-block;margin:10px 0 0;font-family:'montserratlight';font-size:19px;color:#000}
.prod_det_mid .product_price sup{font-size:10px;position:relative;top:-10px}
.prod_det_mid .size_selection_row{width:100%;display:inline-block;margin:15px 0 0;color:#5d5d5d;text-transform:uppercase;font-size:12px;font-family:'montserratlight'}
.prod_det_mid .size_selection_row ul{margin:5px 0;padding:0}
.prod_det_mid .size_selection_row ul li{display:inline-block;list-style-type:none;margin:0 5px 0 0;font-family:'montserratregular';font-size:12px;color:#909090;padding:5px 15px;background:#f7f7f7;border:#ececec 1px solid;cursor:pointer}
.prod_det_mid .size_selection_row ul li.active{background:#1e99ea;color:#fff}
a.size_guide_link{font-family:'montserratlight';font-size:12px;color:#1e99ea;text-transform:none;margin:5px 0 0;display:inline-block;text-decoration:underline}
a.add_to_cart{border:#1e99ea 2px solid;padding:15px 60px 15px 30px;color:#1e99ea;font-size:12px;font-family:'montserratregular';text-transform:uppercase;letter-spacing:2px;background:#fff url(../images/ico_bag.png) no-repeat 85% center;display:inline-block;margin:30px 0 0}
a.add_to_cart:hover{background:#1e99ea url(../images/ico_bag2.png) no-repeat 85% center;text-decoration:none;color:#fff}
.plus_minus a,.plus_minus input[type="text"]{float:left;margin:15px 5px 0 0;font-family:'montserratregular';font-size:12px;color:#909090;padding:0;background:#f7f7f7;border:#ececec 1px solid;width:40px;height:30px;text-align:center;line-height:30px;text-decoration:none!important}
.prod_det_left,.prod_det_mid,.prod_det_right{display:table-cell;float:none;vertical-align:top}
.prod_det_right{border-left:#ddd 1px solid}
.prod_det_right .ui-widget-header{border-radius:0;border:none;background:none;border-bottom:#909090 1px solid;padding-left:0}
.prod_det_right .ui-widget-content{border-radius:0;border:none}
.prod_det_right .ui-tabs .ui-tabs-nav li{border-color:transparent;border-radius:0}
.prod_det_right .ui-tabs .ui-tabs-nav .ui-tabs-anchor{font-family:'montserratregular';font-size:12px}
.prod_det_right .ui-tabs .ui-tabs-panel{border:none;padding:15px 3px;max-height:340px;overflow-y:auto}
.prod_det_right .ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0}

/** cart page 09-02-2016 **/

.cart_holder{width:90%;display:table;margin:45px 5% 0;border:#f0f0f0 1px solid}
.cart_row{width:100%;display:table-row}
.cart_row:last-child{background:#fbfbfb}
.cart_col{display:table-cell;vertical-align:top;padding:10px;font-size:13px;font-family:'montserratregular';color:#6b6b6b;border-bottom:#f0f0f0 1px solid}
.cart_col .prod_img{width:90px;height:85px;line-height:normal;border:#f0f0f0 1px solid;text-align:center;padding:5px;margin:0 10px 0 0;vertical-align:top;display:inline-block}
.cart_col span.prod_desc{display:inline-block;width:250px}
.cart_row:nth-child(1){background:#fbfbfb}
.cart_row:nth-child(1) .cart_col{text-transform:uppercase;color:#333;font-family:'montserratsemi_bold';font-size:13px}
.cart_col .bold_hd{width:50px;display:inline-block;font-size:14px}
.cart_col span.bold{font-family:'montserratsemi_bold'}
.cart_col input[type="text"]{font-family:'montserratregular';font-size:12px;color:#909090;padding:0;background:#f7f7f7;border:#ececec 1px solid;width:40px;height:30px;text-align:center;line-height:30px}
.cart_col .edit_btn{font-size:12px;text-decoration:underline}
.cart_col.price{font-size:16px}
.cart_col.price sup{font-size:10px;position:relative;top:-10px}
.cart_col.close_btn a{padding:1px 5px;border:#ececec 1px solid;color:#6b6b6b;text-decoration:none;font-family:'montserratlight'}
.cart_col.close_btn a:hover{background:#1e99ea;color:#fff;border-color:#1e99ea}
.cart_row:last-child .cart_col{border-bottom:none}
.cart_col.final{font-size:16px;text-transform:uppercase}
.cart_col.final.price{font-size:22px;color:#000}
.cart_col.final.price sup{font-size:13px}
.cart_bottom{width:90%;margin:0 5% 45px;display:inline-block}
.cart_bottom span.call{color:#282828;font-family:'montserratregular';text-transform:uppercase}
.cart_bottom input[type="button"],.cart_bottom input[type="submit"]{background:#1e99ea url(../images/btn_arrw_rght.png) no-repeat 80% center;color:#fff;font-family:'montserratregular';text-transform:uppercase;color:#fff;font-size:12px;padding:12px 45px;border-radius:3px;border:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.cart_bottom input[type="button"]:hover,.cart_bottom input[type="submit"]:hover{background:#000 url(../images/btn_arrw_rght.png) no-repeat 80% center}
.cart_bottom.checkout input[type="button"],.cart_bottom.checkout input[type="submit"]{background:#1e99ea url(../images/btn_arrw_rght.png) no-repeat 90% center;padding:12px 45px 12px 30px}
.cart_bottom.checkout input[type="button"]:hover,.cart_bottom.checkout input[type="submit"]:hover{background:#000 url(../images/btn_arrw_rght.png) no-repeat 90% center}
.cart_col.checkout_pg{padding:60px 15% 45px}
span.form_element_hd{font-size:13px;font-family:'montserratregular';color:#6b6b6b;padding-bottom:5px;width:100%;display:inline-block}
span.form_element_hd label{font-weight:400!important}
span.form_element_subhd{font-family:'montserratlight';font-size:13px;color:#828282;padding:0 0 5px;width:100%;display:inline-block;position:relative;top:-15px}
.form_element_hd2{font-family:'montserratlight';font-size:13px;color:#828282;padding:0 0 10px;width:100%;display:inline-block;position:relative;left:25px}
.tab_holder{width:90%;margin:45px 5% 0;display:inline-block;background:#fbfbfb;font-size:12px;font-family:'montserratregular';color:#333;border:#f0f0f0 1px solid}
.tab_holder ul{margin:0;padding:0}
.tab_holder ul li{display:inline-block;list-style-type:none;padding:12px 30px;text-transform:uppercase}
.tab_holder ul li.active{background:#333;color:#fff}
.shipping_billing{width:90%;margin:0 5%;display:inline-block;border:#f0f0f0 1px solid;padding:15px}
.shipping_billing h2{font-family:'montserratlight';font-size:20px;color:#333}
.shipping_billing h2 span{font-size:11px;text-transform:uppercase;float:right}
.shipping_billing label{color:#4e4c4c;font-size:11px;font-family:'montserratlight';text-transform:uppercase;margin:0;padding:10px 0 0;font-weight:400}
.shipping_billing input,.shipping_billing select{font-size:13px;font-family:'montserratlight';color:#4e4c4c;margin-bottom:5px;height:50px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.shipping_billing input[type="checkbox"]{height:auto;margin:0}
.rvw_order_pg .cart_holder{margin-top:0}

/** start radio **/
.checkout_pg input[type=radio ]{width:0;margin:0;padding:0;opacity:0}
.checkout_pg input[type=radio ] + label > span{display:inline-block;width:20px;height:20px;margin:0 7px 0 0;border:none;border-radius:30px;background:#e6e6e6;vertical-align:bottom}
.checkout_pg input[type=radio ]:checked + label > span{background-image:-moz-linear-gradient(#e0e0e0,#f0f0f0);background-image:-ms-linear-gradient(#e0e0e0,#f0f0f0);background-image:-o-linear-gradient(#e0e0e0,#f0f0f0);background-image:-webkit-linear-gradient(#e0e0e0,#f0f0f0);background-image:linear-gradient(#e0e0e0,#f0f0f0)}
.checkout_pg input[type=radio]:checked + label > span > span{display:block;width:10px;height:10px;margin:5px;border:none;border-radius:30px;background:#1e99ea}
/** end radio **/

/** 10-02-2016 **/
.eventCalendar-list li ul li{border-bottom:none;font-family:'montserratlight';font-size:15px;color:#fff}
.eventCalendar-list li h1{font-family:'montserratlight';font-size:20px;font-weight:400;color:#fff; margin:0}
.eventCalendar-list li p{font-family:'montserratlight';font-size:13px;color:#fff}
.eventCalendar-list li ul{width:100%;display:inline-block}
.eventCalendar-list li ul li{width:100%;display:inline-block;/*padding:10px 0;*/padding:0 0 3px 0;}
.eventCalendar-list li span{font-family:'montserratregular';font-size:15px;text-transform:uppercase;color:#fff;width:90%;display:inline-block;background:url(../images/ico_check.png) no-repeat left center;padding:10px 0 0 20px;/*margin-left:10%*/margin-left: 2.5%;}
.eventCalendar-list li span a{text-decoration:none!important}
.eventCalendar-list li span input[type="button"]{background:#fff;padding:10px 0;display:inline-block;border-radius:3px;color:#454545;font-family:'montserratregular';font-size:15px;margin-right:15px;text-shadow:none;border:none;border-color:transparent;box-shadow:none;font-weight:400;display:block;width:190px;text-transform:uppercase;position:relative;left:-30px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.eventCalendar-list li span input[type="button"]:hover{background:#454545;color:#fff}

.eventCalendar-list li ul li a{ color:#fff; text-decoration:underline}

/*.eventCalendar-list li ul li.age{background:url(../images/ico_age.png) no-repeat left center}
.eventCalendar-list li ul li.cost{background:url(../images/ico_cost.png) no-repeat left center}
.eventCalendar-list li ul li.duration{background:url(../images/ico_duration.png) no-repeat left center}
.eventCalendar-list li ul li.date{background:url(../images/ico_dt.png) no-repeat left center}
.eventCalendar-list li ul li.location{background:url(../images/ico_map.png) no-repeat left center}
.eventCalendar-list li ul li.coach{background:url(../images/ico_coach.png) no-repeat left center}
.eventCalendar-list li ul li.certificate{background:url(../images/ico_badge.png) no-repeat left center}
.eventCalendar-list li ul li.availability{background:url(../images/ico_availability.png) no-repeat left center}*/

/** 19.02.2016 **/

.achievement_rght_mid .achievement-col{vertical-align:top;padding:10px 15px;border-right: #fff 1px solid;}
.achievement_rght_mid .achievement-col:last-child{border-right:none}
.achievement-col span{font-family:'montserratbold';text-decoration:underline}
.achievement-col:nth-child(1){width:5%}
.achievement-col:nth-child(2){width:25%}
.achievement-col:nth-child(3){width:70%}
.achievement-row:nth-child(even) .achievement-col{background:#eaeef9}
.achievement-row:nth-child(odd) .achievement-col{background:#d1ddf3}
.achievement_rght_top .achievement-col{background: #5d9ad0!important;border-right: #bceafa 1px solid;}
.achievement_rght_top .achievement-col:last-child{border-right:none}
.achievement_rght_mid .achievement-col{border-bottom: #fff 1px solid}
.achievement_rght_top .achievement-col{border-bottom: #bceafa 1px solid}

.achievement_rght_mid .achievement-col:nth-child(1), .achievement_rght_top .achievement-col:nth-child(1){
	width:10%
}
.achievement_rght_mid .achievement-col:nth-child(2), .achievement_rght_top .achievement-col:nth-child(2){
	width:20%
}
.achievement_rght_mid .achievement-col:nth-child(3), .achievement_rght_top .achievement-col:nth-child(3){
	width:70%
}

.error-message{
color:red;
}

/** 16-03-2016 **/
.reg_bg.aboutUs{padding:0;overflow:hidden}
.aboutBanner img{width:100%;height:auto}
.aboutUsContainer{padding:45px 60px;display:inline-block;width:100%}
h2.aboutUsTitle{color:#040404;font-size:32px;font-family:'montserratlight';margin:0 0 30px;padding:0;text-transform:uppercase}
p.aboutUsSubtitle{font-family:'montserratbold';width:290px;margin:0 auto;color:#1e99ea;font-size:18px;padding:0 0 30px}
.aboutUsContent{color:#8c8d8e;font-size:12px;font-family:'montserratlight';text-align:justify;padding:0 0 30px;line-height:20px}
.aboutUsContent.bottom{padding:30px 0 0}
h3.aboutUsContent_hd{font-family:'montserratregular';color:#040404;padding:0 0 10px;margin:0;font-size:15px}
.contactIconDetails_holder{margin:30px 0}
.contactIconDetails{width:100%;display:table;border-collapse:separate;border-spacing:10px}
.contactIcon{display:table-cell;/*vertical-align:middle*/vertical-align:top}
.contactIconImg{width:68px;height:68px;border-radius:100%;background:#1e99ea;line-height:68px;text-align:center;display:inline-block}
.contactDetails{display:table-cell;vertical-align:middle}
.contactDetails h2{font-family:'montserratregular';color:#0e0a03;font-size:17px;margin:0;padding:0 0 7px}
.contactDetails p{color:#82807d;font-size:12px;font-family:'montserratlight'}
.reg_bg.aboutUs h2{margin:0 0 10px}
.reg_bg.aboutUs textarea{font-size:13px;font-family:'montserratlight';color:#4e4c4c;margin-bottom:15px;height:150px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}

.tnc ol{
margin-left:15px;
margin-bottom:15px;
}
.tnc ol li{
font-family:'montserratlight';
color:#9ea1a4;
font-size:13px;
padding: 7px 0;
}
.tnc ol li ol{
margin-left:60px
}
.tnc ol li ol li{
	list-style-type:upper-roman;
}

.tnc ol li ol li ol li{
	list-style-type:lower-roman;
}
.tnc ol li ol li ol li ol li{
	list-style-type:upper-alpha
}

/** 18-03-2016 **/

.ms-info h3 a {color: #0c0c0c}

.modal-content textarea{font-size:13px;font-family:'montserratlight';color:#4e4c4c;height:120px;border:1px solid #ccc;position:relative;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
#add_note_comment{max-height:295px;overflow-y:auto}
#add_note_comment .mCSB_scrollTools .mCSB_draggerContainer{right:15px}
.addMoreBtn a{background:#0b76bc;padding:10px 15px;display:inline-block;border-radius:5px;color:#fff;font-family:'montserratregular';font-size:13px;text-decoration:none!important;margin:10px 0 0}
.addMoreBtn a:hover{background:#1b1b1b}
.removeIcon{font-size:16px;display:inline-block;float:right;margin:-36px -5px 0 0}
.filter_holder .ui-selectmenu-button span.ui-selectmenu-text{padding:15px 21px 15px 6px;font-size:13px}
.size_selection_row input[type="button"]{border:#1e99ea 2px solid;padding:15px 60px 15px 30px;color:#1e99ea;font-size:12px;font-family:'montserratregular';text-transform:uppercase;letter-spacing:2px;background:#fff url(../images/ico_bag.png) no-repeat 85% center;display:inline-block;margin:30px 0 0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.size_selection_row input[type="button"]:hover{background:#1e99ea url(../images/ico_bag2.png) no-repeat 85% center;text-decoration:none;color:#fff}
#loader{margin-bottom:45px;display:inline-block}
.resizeLandscape{height:100%!important;width:auto!important}
.resizePortrait{width:100%!important;height:auto!important}
.achievementDisable{position:absolute;top:0;left:0;height:100%;width:100%;background:rgba(255,255,255,0.7)}
.event_calendar_bg.red li.eventCalendar-dayWithEvents a{background:#ff6363;border-color:#ff6363}
.event_calendar_bg.blue li.eventCalendar-dayWithEvents a{background:#1e99ea;border-color:#1e99ea}
.event_calendar_bg.orange li.eventCalendar-dayWithEvents a{background:#df7300;border-color:#df7300}
.event_calendar_bg.green li.eventCalendar-dayWithEvents a{background:#1fbb82;border-color:#1fbb82}
.search_filter_holder #search_from #suggesstion-box{position:relative}
.search_filter_holder #search_from #suggesstion-box ul#country-list{width:100%;text-align:left;position:absolute;top:47px;left:0;border-left:#ccc 1px solid;border-right:#ccc 1px solid}
.search_filter_holder #search_from #suggesstion-box ul#country-list li{cursor:pointer}
.search_filter_holder #search_from input[type="text"]{background-color:transparent!important}
.player_listing ul#items li{list-style-type:none}
.subscription_modal h2{color:#3e3e3e;font-size:20px;font-family:'montserratbold';width:100%;text-align:center;margin:0}
.subscription_modal .modal-header,.subscription_modal .modal-footer{border:none}
.subscription_modal .modal-header{padding:6px}
.imageCenter{display:block;width:530px;line-height:128px;margin-left:-200px}
.resizeLandscape2{height:130px!important;width:auto!important}
.resizePortrait2{width:130px!important;height:auto!important}
.imageCenterSmall{display:block;width:172px;line-height:70px;margin-left:-50px}
.resizeLandscape1{height:72px!important;width:auto!important}
.resizePortrait1{width:72px!important;height:auto!important}
.imageCenterMedium{display:block;width:195px;line-height:93px;margin-left:-50px}
.resizeLandscape3{height:95px!important;width:auto!important}
.resizePortrait3{width:95px!important;height:auto!important}
#div_product_filter_id #loader{width:100%}
#myModal_login_poup_check .modal-content{width:30%}
.login-dtal-popup{background-color:#f9f9f9;border:1px solid #fff;font-family:montserratregular;font-size:16px;text-align:center}
.login-dtal-popup a{font-size:14px}
.login-dtal-popup a:hover{text-decoration:none}
#suggesstion-box{position:relative}
#suggesstion-box ul#player-list{width:100%;text-align:left;position:absolute;top:47px;left:0;border-left:#ccc 1px solid;border-right:#ccc 1px solid}
#suggesstion-box ul#player-list li{cursor:pointer;padding:10px;background:#FAFAFA;border-bottom:#ccc 1px solid;list-style-type:none}
#suggesstion-box ul#player-list li:hover{background:#F0F0F0}
input[type="text"]#search-box{background-color:transparent!important}

/** 31-03-2016 **/

.othersVidHolder{
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
}

/** 01-04-2016 **/
.carousel-indicators {
    bottom: 100px;
}

/** 07-04-2016 **/

.orderSummaryPg{padding-bottom:60px}
.orderSummaryRow{margin-bottom:30px}
.orderSummaryRow .cart_row:nth-child(1){background:#e7e7e7}
.orderSummaryRow .cart_row:nth-child(2){background:#fbfbfb}

.orderId{background:#1e99ea;color:#fff;padding:6px 18px;border:#0b76bc 1px solid;display:inline-block;border-radius:3px}
.orderId:hover,.orderId:focus{background:#0b76bc;color:#fff;text-decoration:none}
.orderDetailsHeading{font-family:'montserratregular';color:#6b6b6b;font-size:18px;text-transform:uppercase;padding:0 0 15px}
.orderDetailsWrapper{width:100%;margin:60px 0;padding:30px;border:#ccc 1px solid;border-radius:5px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3)}
.orderDetailsWrapper .row:nth-child(2){width:100%;display:table}
.orderDetailsWrapper .row .col-lg-6:nth-child(1){display:table-cell;border-right:#e7e7e7 1px dotted}
.orderDetailsWrapper .row .col-lg-6:nth-child(1) .col-lg-12{border-bottom:#e7e7e7 1px solid;font-size:14px;font-family:'montserratregular';color:#6b6b6b}
.orderDetailsWrapper .row .col-lg-6 span{font-family:'montserratbold'}

/** 08-04-2016 **/
.success_view_txt {
    color: #676767;
    font-size: 15px;
    font-family: 'montserratregular';
}
.courseDetailsTable{
	width:60%;
	margin:15px 20%;
}
.courseDetailsTable table tr td{
	padding:10px;
	border-right:#e7e7e7 1px solid;
	border-bottom:#e7e7e7 1px solid;
	width:50%;
	text-align:left;
    font-family: 'montserratregular';
}
.courseDetailsAmount{
	font-size: 16px;
    padding: 10px 60px;
    background: #e7e7e7;
    font-weight: 700;
    margin-bottom: 15px;
	text-align:center;
	display:inline-block;
}
.courseDetailsAmount span{
	color:#000;
}
.addTopUp .row{
	margin:0;
}
.notFound{
	padding:45px 0;
	width:100%;
	text-align:center;
	color: #838383;
    font-size: 18px;
    font-family: 'montserratbold';
}
.dropdown-menu>li.orderIcon>a{background:url(../images/orderIcon.png) no-repeat 15px center}

.courseBookingDetails .cart_row{
	background: #fbfbfb;
}
.courseBookingDetails .cart_col{
	font-size:13px;
}
.courseBookingDetails .cart_col a{
	background:#1e99ea;
	padding:5px 15px;
	border-radius:3px;
	color:#fff;
	text-decoration:none;
    display: inline-block;
}
.courseBookingDetails .cart_col a:hover{
	background:#0b76bc;
}

/** 11-04-2016 **/

.cart_disabled, .cart_disabled:hover{
	background: #1e99ea url("../images/ico_bag2.png") no-repeat scroll 85% center !important;
    color: #fff!important;       
	opacity:0.5 !important;
}
/** 16-05-2016 **/	
form .error {
		color: red;
	}
/** 17-05-2016 **/	
#trams_cond-error{
	width: 100%;
    float: right;
}
/** 20-05-2016 **/
.viewAllButtonWrapper{
	width:100%;
	display:inline-block;
}
button.viewAllButton{
	display: block;
    background: #1a5389;
    color: #fff;
    font-family: 'montserratbold';
    font-size: 12px;
    border: none;
    padding: 12px 25px;
    text-transform: uppercase;
    border-radius: 3px;
	-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
    margin: 0 auto;
}
button.viewAllButton:hover{
	background:#000;
}