.master-slider{-moz-transform:translate3d(0,0,1px)}
.ms-staff-carousel{max-width:100%;overflow:hidden;margin:0 auto;position:relative;margin-top:30px;margin-bottom:15px}
.ms-staff-carousel .ms-view{overflow:visible;background-color:transparent}
.ms-staff-carousel .ms-nav-prev,.ms-staff-carousel .ms-nav-next{background:url(arrows.png) #fff no-repeat -7px -57px;width:35px;height:40px;left:-35px;margin-top:-17px;box-shadow:0 1px 0 0 #bebebe;position:absolute;top:50%;cursor:pointer;opacity:1!important;display:block!important}
.ms-staff-carousel .ms-nav-next{background-position:-6px -7px;right:-35px;left:auto}
.ms-staff-carousel .ms-staff-info{margin:0 auto;width:355px;min-height:70px}
.ms-slide{box-shadow:0 2px 10px rgba(0,0,0,0.3)}
.ms-slide-info{width:355px}
.ms-info h3{font-size:28px;color:#0c0c0c;margin:10px 0 0;padding:0;text-align:center;font-family:'bebas';letter-spacing:1px}
.ms-info h3 span{float:right;font-family:'montserratlight';font-size:20px}
.ms-info h4{font-family:'proxima_nova_rgregular';font-size:15px;color:#fff;margin:0;padding:0;line-height:normal;text-align:center}