<!--<div class="main_container login-reg-pg">
	<section class="breadcrumb vspace20">
		<div class="container">
			
		</div>
		
		<section class="vspace70">
		<div class="container">
			<div class="reg_bg">
			<?php if($booking_player_count ==0){?>
			<li style="color:green"><strong>Thanks! your course is booked.</strong></li>
			<?php }else {?>
			<li style="color:red"><strong>You have already booked this course!</strong></li>
			<?php } ?>
			</div>
			</div>
		</section>
		
	</div>-->
	
	<div class="main_container login-reg-pg" style="margin-top: 103px;">
	<section class="breadcrumb vspace20">                    
		<section class="vspace70">
			<div class="container">        	
				<div class="reg_bg center">			
					<span class="glyphicon glyphicon-ok-circle"></span><br><br>
					<span class="success_view_txt">You have already booked this course!</span></br>		
					
					
				</div>
			</div>
		</section>
	</section>
</div>