<?php
header('Content-type: text/json');	
$course_date='';
$params_data=$this->request->pass;
$baSE_URL= $this->webroot;
$user_id=$this->Session->read('Auth.Member.id');
$user_type=$this->Session->read('Auth.Member.type');
foreach($all_course_detail as $all_course)
{
	if(!empty($course_date))
	{
		$course_date=$course_date.', '.date('d,M Y',strtotime($all_course['CourseDate']['course_date']));		
	}
	else
	{
		$course_date=date('d,M Y',strtotime($all_course['CourseDate']['course_date']));
	}
	
	
}	
echo '[';
 $separator = "";
 $separator1=","; 
	$course_count=count($all_course_detail);
     $i=1; 	 
	 foreach($all_course_detail as $all_course_details)
	 {
 if($user_type=='P')	
   {  
    //$book_link=$baSE_URL.'coach_courses/book_course/'.$params_data[0].'/'.$params_data[1].'/'.$all_course_details['CoachCategory']['id'];
    $book_link="javascript:void(0)";
   $book_flag='<span><a onclick=\'select_payment_type()\' href=\"'.$book_link.'\" ><input type=\'button\' name=\'input_button\' id=\'input_button\' value=\'Book Now\' /></a></span>';		  		
    
   }
	else if($user_type=='F' || $user_type=='C')
	{
		 //$book_link=$baSE_URL.'players/login';
		  $book_link="javascript:void(0)";
	      $book_flag='<span><a  href=\"'.$book_link.'\" ><input onclick=\'message_book()\' type=\'button\' name=\'input_button\' id=\'input_button\' value=\'Book Now\' /></a></span>';		  		      	
		//$book_link=$baSE_URL.'players/login';
         //$this->Session->setFlash(__('<strong style="color:green">if you are not registerd as a  player signup or login as a player booking course.</strong>'));		
	}else
	{    $book_link=$baSE_URL.'players/login';	
		 $book_flag='<span><a href=\"'.$book_link.'\" ><input type=\'button\' name=\'input_button\' id=\'input_button\' value=\'Book Now\' /></a></span>';		  		      	
    }	
		 
		 $total_booking_sit=$all_course_details['Course']['total_course_available']; 		 
	  $remain_booking_sit=$total_booking_sit-$all_course_details['Course']['book_course'];
		// exit;
         if( $remain_booking_sit==0)
		 {
			 $book_flag=""; 
		 }
		 
		 $html='<div><h1 class=\"course\">Course : '.$all_course_details['Course']['course_title'].'</h1><p class=\"description\"> Description :  '.$all_course_details['Course']['description'].'</p><ul><li class=\"age\">Age Range :'.$age_group_data.'</li><li class=\"age\">Positions :'.$position_data.'</li><li class=\"cost\">Cost : $'.$all_course_details['Course']['cost'].'</li><li class=\"duration\">Duration : '.$all_course_details['Course']['duration'].'min</li><li class=\"date\"> Date : '.$course_date.'</li><li class=\"location\">location : <a href=\"'.$all_course_details['Course']['google_location'].'\" target=\'_blank\'>'.$all_course_details['Course']['location'].'</a></li><li class=\"coach\">Coach : '.$coaches_list_text.'</li><li class=\"certificate\">Certificate : '.$all_course_details['CoachCategory']['category_name'].'1-3.3'.'<strong>'.$all_course_details['Level']['level_number'].'</strong></li><li class=\"availability\">Availability :  '.$remain_booking_sit.' places left out of  '.$total_booking_sit.' available</li></ul>'.$book_flag.'</div>';		  
		 if($course_count==$i)
		 {
			
			 $separator1="";
			 
		 }else
		 {
			$separator1=","; 
			 
		 }		
		 echo '{"date": "'; echo $all_course_details['CourseDate']['course_date']; echo '",
			    "html": "'; echo $html; echo '",              		
		        "flag_page": "detail_page" }'.$separator1.'';
	
         $separator = ",";
		 $i++;		 
	 }
echo ']';
?>