<!--<table width='100%' cellspacing='0' cellpadding='0' border='0' style='font:12px verdana;color:black'>

<tr><td style='padding:0 14px 28px 15px; color:#535151; font-size:12px;'>
<p style="color:#202020; font-family:Arial, Helvetica, sans-serif;font-size:14px; background-color:#f7f7f7; padding:15px 15px 15px 15px; line-height:22px;">
                
                 Hi, <?php echo $all_coach_details['User']['first_name'].' '.$all_coach_details['User']['last_name'];?><br><br>
                    
                    Thank you for contacting Develop a Player with your problem.<br>
                    Please click link and create new password.<br>

                    <a href="<?php echo $_SERVER['HTTP_HOST'].$this->webroot;?>families/create_new_password/<?php echo base64_encode($all_coach_details['User']['id']) ?>"> Click </a>or Copy the Link <br/>
					<?php echo $_SERVER['HTTP_HOST'].$this->webroot;?>families/create_new_password/<?php echo base64_encode($all_coach_details['User']['id']) ?><br/>
                     Please feel free to contact us for any further assistance or Suggestion.<br><br>
                    
                    Thanks.
                </p>
</td></tr>
<tr><td style='padding:0 14px 28px 15px; color:#535151; font-size:12px;'>All the best <br>Develop a Player</td></tr>				
</table>-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Develop a Player</title>
</head>

<body style="margin:0; padding:0px; background-color:#fff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:sans-serif;color:#5c5c5c;font-size:13px;">
	<tr>
        <td align="center" valign="top">
            <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f7f7f7">
                <tr bgcolor="#0b76bc">
                    <td colspan="3" style="padding-left:15px;"><a href="#"><img src="<?php echo Router::url('/',true); ?>images/logo.png" alt="Develop a Player" width="91" height="103" /></a></td>
                    <td style="color:#ffffff;text-align:right; padding-right:15px"><img src="ico_ph.png" alt="" width="16" /> +61 (0) 415 605 494<br /> <img src="<?php echo Router::url('/',true); ?>images/ico_msg.png" alt="" width="16" /> <a style="color:#ffffff; text-decoration:none" href="mailto:contact@developaplayer.com">contact@developaplayer.com</a></td>                    
                </tr>
                <tr bgcolor="#1e99ea">
                	<td colspan="4" style="color:#ffffff;font-size:16px; font-weight:bold; text-align:center; padding:10px 15px;">Forgot Password</td>
                </tr>
                <tr>
         <td colspan="4" style="font-size:13px; line-height:22px; padding:30px"> Hi, <?php echo $all_coach_details['User']['first_name'].' '.$all_coach_details['User']['last_name'];?><br />
              	<p>	
			
                    Thank you for contacting Developaplayer.com with your problem.<br>
                    Please click on the below link and set up new password.<br>

                    <a href="<?php echo $_SERVER['HTTP_HOST'].$this->webroot;?>families/create_new_password/<?php echo base64_encode($all_coach_details['User']['id']) ?>"> Click </a>or Copy the Link <br/>
					<?php echo $_SERVER['HTTP_HOST'].$this->webroot;?>families/create_new_password/<?php echo base64_encode($all_coach_details['User']['id']) ?><br/>
                    Please feel free to contact us for any further assistance or Suggestion.<br><br>
                    
                    Thanks.<br/>
					Developaplayer Team.
	            </p> 
					
					</td>
                </tr>
 
			<tr bgcolor="#0b76bc">
                    <td colspan="4" style="padding:15px; text-align:center"><a style="color:#ffffff; text-decoration:none" href="http://developaplayer.com/" target="_blank">www.developaplayer.com</a> <span style="color:#fff">|</span> <a style="color:#ffffff; text-decoration:none" href="mailto:contact@developaplayer.com">contact@developaplayer.com</a></td>
             	</tr>
            </table>
        </td>
        </tr>
</table>
</body>
</html>

