<table width='100%' cellspacing='0' cellpadding='0' border='0' style='font:12px verdana;color:black'>
<tr><td style='padding:0 14px 28px 15px; color:#535151; font-size:12px;'>
<p style="color:#202020; font-family:Arial, Helvetica, sans-serif;font-size:14px; background-color:#f7f7f7; padding:15px 15px 15px 15px; line-height:22px;">
                
                 Hi, <br><br>
                    
                    Thank you for contacting Develop a Player with your problem.<br>
                    please click link and create new password.<br>

                    <a href=""> Click </a>or Copy the Link <br/>
					   Please feel free to contact us for any further assistant or suggestions.<br><br>
                  
                    Thanks.
                </p>
</td></tr>
<tr><td style='padding:0 14px 28px 15px; color:#535151; font-size:12px;'>All the best <br>Develop a Player</td></tr>				
</table>
