<div class="inner-page-wrap">
    <div class="container clearfix">
       <div class="row">
        <h1 class="page-title"><?php  echo $page_data['Page']['title']; ?></h1>
        <!-- cms section -->
        <div class="cms_content clearfix">
           
           <?php  echo $page_data['Page']['description']; ?>
	  </div>
        <!-- cms section Ends -->
        </div>
    </div>
</div>

