<script>
	jQuery('#equal_list_height div.prod_holder').equalHeights();
</script>	
  
  <div class="col-lg-12" id="equal_list_height">
					<?php	if(!empty($all_product) && count($all_product)>0)
						{
							foreach((array) $all_product as $all_products)
							{
						?>
                        	<div class="col-lg-4 col-lg-6 col-sm-6 col-xs-6 center prod_holder">
                            	<div class="prod_img"><a href="<?php echo $this->webroot; ?>products/product_details/<?php echo base64_encode($all_products['Product']['id']); ?>"><img src="<?php echo $this->webroot; ?>uploads/product/original/<?php echo $all_products['ProductImage']['image'] ?>" alt=""></a></div>
                                <div class="prod_nm"><a href="<?php echo $this->webroot; ?>products/product_details/<?php echo base64_encode($all_products['Product']['id']); ?>"><?php echo $all_products['Product']['name'];?></a></div>
								
							<?php 
							
							$price_explode = explode('.',$all_products['Product']['price']);
							
							
							if(isset($price_explode[0]))
							{
								$fistpartprice= $price_explode[0];
								
							}else
								
							{
								$fistpartprice=00;	
									
							}
							
							if(isset($price_explode[1]))
							{
								$secpartprice= $price_explode[1];
								
							}else
								
							{
								$secpartprice='';	
									
							}
							
							?>
							
								
                                <div class="prod_prc">AUD <?php echo $fistpartprice; ?><sup><?php echo $secpartprice; ?></sup></div>
                            </div>
                          <?php 
							}
						   }else{?>
							   
							   
							 <div style="text-align:center;padding:100px"><strong>No Product Found!</strong></div>  
							   
						  <?php
						  }
						?>
                      </div>
					  