
<div class="main_container login-reg-pg">
	<section class="breadcrumb vspace20">
				
		<section class="vspace70">
		<div class="container">        	
			<div class="reg_bg center">			
            <span class="glyphicon glyphicon-ok-circle" style="font-size: 70px;color: #1e99ea;"></span><br /><br />
			<span class="success_view_txt">YOUR ORDER HAS BEEN PLACED SUCESSFULLY, YOUR ORDER NUMBER IS <?php echo $this->Html->link($txnId, array('action' => 'order_summary',$txnId)); ?>. PLEASE NOTE YOUR ORDER NUMBER FOR ALL FUTURE CORRESPONDENCE</span>
			</div>
			</div>
		</section>
</div>	