<div class="main_container login-reg-pg">
	<section class="breadcrumb vspace20">
				
		<section class="vspace70">
		<div class="container">        	
			<div class="reg_bg center">	
			<?php if($all_respone_by_comweb['vpc_Message'] =='Approved'){ ?>
            <span class="glyphicon glyphicon-ok-circle" style="font-size: 70px;color: #1e99ea;"></span><br /><br />
			<span class="success_view_txt">YOUR ORDER HAS BEEN PLACED SUCESSFULLY, YOUR ORDER NUMBER IS <?php echo $this->Html->link($txnId, array('action' => 'order_summary',$txnId)); ?>. PLEASE NOTE YOUR ORDER NUMBER FOR ALL FUTURE CORRESPONDENCE</span>
			
			<?php }else{?>			
			<span class="glyphicon glyphicon-remove-circle" style="font-size: 70px;color: #d70000;"></span><br /><br />
			<span class="success_view_txt">Your payment was NOT successful. The transaction was <?php echo $all_respone_by_comweb['vpc_Message']; ?> by the issuer, your order number is <?php echo $this->Html->link($all_respone_by_comweb['vpc_MerchTxnRef'], array('action' => 'order_summary',$all_respone_by_comweb['vpc_MerchTxnRef'])); ?>. Please  note your order number for all future correspondence</span>
			
			<?php } ?>
			</div>
			</div>
		</section>
</div>	