
<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
          <?php echo $this->element('breadcrumb'); ?>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Edit Club Details</h3>
				  
				  <?php if($this->Session->check('Message.flash')){?>
					<div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  
					<?php echo $this->Session->flash(); ?>   
                  </div>
				<?php }?>
				  
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="post" action="" enctype="multipart/form-data" id="form">
				
				<!--- body --->
                  <div class="box-body">
					<?php
					
					echo $this->Form->input('name',array(
													'div'=>'form-group has-feedback',
													'class'=>'required form-control',
													'label' => 'Club Name',
													'type'=>'text',
													'id'=>'name',
													'name'=>'name',
													'placeholder'=>'Club Name',
													'value'=>$club_data['Club']['name']
													)
												); ?>
							<div>
							<img src="<?php echo $this->webroot; ?>uploads/club/logo/thumbnail/<?php echo $club_data['Club']['logo']; ?>" />
							</div>
												
					<?php
					
					echo $this->Form->input('image',array(
													'div'=>'form-group has-feedback',
													'class'=>'required btn btn-primary',
													'label' => 'Club Image',
													'type'=>'file',
													'style'=>array('width'=>'300px'),
													'name'=>'logo'
													)
												);
												
					echo "<output id='list'></output>"; ?>
					
							<div class="form-group has-feedback">
								<label>Status</label>
								<select  name="status" class="required form-control" data-placeholder="Select a Status">
									<?php if($club_data['Club']['status']=="A"){ ?>
											<option value="A">Published</option>
											<option value="I">Unpublished</option>
									<?php }else{ ?>
											<option value="A">Unpublished</option>
											<option value="I">Published</option>
									<?php } ?>
								</select>
							</div>
					
					</div>
				  
				  <!-- /.box-body -->

                  <div class="box-footer">
                    <input type="submit" value="submit" class="btn btn-primary">
                  </div>
				  
				  <div class="box-footer">
                  </div>
				  
                </form>
              </div>
			  
			  <!-- /.box -->

              <!-- Form Element sizes -->
              

            </div><!--/.col (left) -->
          
          </div>   <!-- /.row -->
		  
		 </section>
	 </div>
            
    <script type="text/javascript">
		
		function handleFileSelect(evt) {
			var files = evt.target.files;
			$('.hide_shown_image').hide();

			// Loop through the FileList and render image files as thumbnails.
			for (var i = 0, f; f = files[i]; i++) {

				// Only process image files.
				if (!f.type.match('image.*')) {
					continue;
				}
				
				var reader = new FileReader();

				// Closure to capture the file information.
				reader.onload = (function(theFile) {
				return function(e) {
					// Render thumbnail.
					var span = document.createElement('span');
					span.innerHTML = 
					[
					'<img class="hide_shown_image" style="height: 75px; border: 1px solid #000; margin: 5px" src="', 
					e.target.result,
					'" title="', escape(theFile.name), 
					'"/>'
					].join('');

					document.getElementById('list').insertBefore(span, null);
					};
				})(f);

				// Read in the image file as a data URL.
				reader.readAsDataURL(f);
			}
		}

		document.getElementById('image').addEventListener('change', handleFileSelect, false);
	  </script>