body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-spacing: 0;
}

table td {
  border-collapse: collapse;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

.ReadMsgBody {
  width: 100%;
  background-color: #ebebeb;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

.yshortcuts a {
  border-bottom: none !important;
}

@media screen and (max-width: 599px) {
  .force-row,
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .container-padding {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
.ios-footer a {
  color: #aaaaaa !important;
  text-decoration: underline;
}

@media screen and (max-width: 599px) {
  .col {
    width: 100% !important;
    border-top: 1px solid #eee;
    padding-bottom: 0 !important;
  }

  .cols-wrapper {
    padding-top: 18px;
  }

  .img-wrapper {
    float: right;
    max-width: 40% !important;
    height: auto !important;
    margin-left: 12px;
  }

  .subtitle {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  .cols-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .content-wrapper {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
