<?php
				$last_id = 0;
                if(!empty($all_coach_details))
				{					
					foreach($all_coach_details as $all_coach_details_data)
					{
						//$last_id=$all_coach_details_data['CoachDetail']['id'];
					?>
						<li>
							<div class="coach_img_holder_outer">
							
							<div class="coach_img_holder_innr"><a href="<?php echo $this->webroot;?>coaches/coach_profile/<?php echo base64_encode($all_coach_details_data['User']['id']);?>"><img src="<?php echo $this->webroot.'uploads/profiles/coach/thumb/'.$all_coach_details_data['CoachDetail']['profile_img']?>" alt=""></a></div>
							
							</div>
							<span class="coach_nm"><a href="javascript:void(0);"><?php echo $all_coach_details_data['User']['first_name'].' '.$all_coach_details_data['User']['last_name'];?></a></span>
							<span class="coach_subhd"><?php echo $all_coach_details_data['CoachSpecialityP']['name'];?></span>
						</li>
					  
					<?php 
					  $last_id++;
					    } 
				      }
					
					
				
				if ($last_id != 0) {
	     echo '<script type="text/javascript">var last_id = '.$last_id.';</script>';
     }
 
// sleep for 1 second to see loader, it must be deleted in prodection
sleep(1);
?>